<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/theader'); %>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="description" content="Sale and Purchase Inventory For All Kind of Trade, Develop Utility Software "/>
    <meta name="keywords" content="MEDI-TRADE SOLUTIONS, MEDI-TRADE SOFT, MEDICAL Billing Software, Abishek Gupta,  ERP, Pharmaceutical WholeSale Inventory">
    <meta name="Author" content="Abhishek Gupta, me.abhi.deo.18@gmail.com">
    <link rel="stylesheet" href="public/assets/css/userdtastyle.css"> 
    <title>User-Info</title>
</head>
<body>
    <div class="container">  
        <form id="contact" action="/addbankinfo" method="POST">
          <h3>Bank-Info <%= update  %> </h3>
          <h4>Update your Bank Information</h4>
          <fieldset>
            <input placeholder="Bank Name" type="text" name="name1" value ="<%= spinfo.bank1.name  %>"  tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Bank Address " name="add1" value= "<%= spinfo.bank1.add  %>"  type="text" tabindex="2" >
          </fieldset>
          <fieldset>
            <input placeholder="IFSC code" name="ifsc1" value= "<%= spinfo.bank1.ifsc  %>"  type="text" tabindex="3" >
          </fieldset>
          <fieldset>
            <input placeholder="UPI Id" name="upi1" value= "<%= spinfo.bank1.upid  %>"  type="text" tabindex="4" >
          </fieldset>
         
          <fieldset>
            <input placeholder=" Account Number" type="number" name="acno1" value= "<%= spinfo.bank1.ac  %>"  tabindex="4" >
          </fieldset>
          <hr>
  
          <h4>Other Bank Details</h4>
          <fieldset>
            <input placeholder="Bank Name" type="text" name="name2" value ="<%= spinfo.bank2.name  %>"  tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Bank Address " name="add2" value= "<%= spinfo.bank2.add  %>"  type="text" tabindex="2" >
          </fieldset>
          <fieldset>
            <input placeholder="IFSC code" name="ifsc2" value= "<%= spinfo.bank2.ifsc  %>"  type="text" tabindex="3" >
          </fieldset>
          <fieldset>
            <input placeholder="UPI Id" name="upi2" value= "<%= spinfo.bank2.upid  %>"  type="text" tabindex="4" >
          </fieldset>
         
          <fieldset>
            <input placeholder=" Account Number" type="number" name="acno2" value= "<%= spinfo.bank2.ac  %>"  tabindex="4" >
          </fieldset>


          
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Save</button>
          </fieldset>
        </form>
      </div>
    
</body>
</html>