<!DOCTYPE html>

<html lang="en">




<%- include('../partials/theader'); %>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="description" content="Sale and Purchase Inventory For All Kind of Trade, Develop Utility Software "/>
<meta name="keywords" content="MEDI-TRADE SOLUTIONS, MEDI-TRADE SOFT, MEDICAL Billing Software, Abishek Gupta,  ERP, Pharmaceutical WholeSale Inventory">
<meta name="Author" content="Abhishek Gupta, me.abhi.deo.18@gmail.com">
<title><%= spinfo.title  %></title>

<link rel="stylesheet" href="public/assets/css/mystyles.css"> 
<link rel="stylesheet" href="public/assets/css/navburger.css"> 
<link rel="stylesheet" href="public/assets/css/bootstrap.css"> 

<!--<style type="text/css" src="public/assets/css/mystyles.css"></style>-->


<style>
.homefy{
padding: 10px; 
background:#edf2ff; 
border: 2px solid darkblue; 
font-size:18px; 
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.homefy option {
  font-size:18px;
}
#fystylediv{
  display: inline-block;
  text-align: center;
}

</style>


</head>
<body>
  
  
    <div class="container">
      <div class="card-body">
        <div >
          <p id="rpurchase" class="blink_me info"></p>
          <div id="fystylediv">
           <select class="homefy"
           name="fyear" id="fy" onchange="getfyear(this)">
           <option value="null">Select Finencial Year</option>;
            <% for(var i=0; i< spinfo.owner.cal.length; i++) {%>
               <option value="<%= i %>">From [<%= spinfo.owner.cal[i].frm %>] To
                [<%= spinfo.owner.cal[i].tod %>]</option>
            <% } %> 
           </select>
           <label id="statusinfo" class="blink_me info"></label>
          </div>
        </div>
        <div id="table" class="myhometable">
          
         
          <form method="POST" action="/medinav">
          <table >
            <thead>
              <tr>
                <br>
                <!-- <hr style="width:100%;text-align:left;margin-left:0"> -->
                <th class="text-center">
                  <button id="purchase" class="accordion" name="name" value="purchase" style="display: flex; justify-content: space-between; align-items: center;">
                    <span>Purchase</span>
                    <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                  </button>
                </th>
                <th class="text-center">
                  <button id="sales" class="accordion" name="name" value="sales" style="display: flex; justify-content: space-between; align-items: center;">
                    <span>Sales</span>
                    <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                  </button>
                </th>
                <th class="text-center">
                  <button id="spurchase" class="accordion" name="name" value="spurchase" style="display: flex; justify-content: space-between; align-items: center;">
                    <span>Search Purchase</span>
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                  </button>
                </th>
                <th class="text-center">
                  <button id="ssales" class="accordion" name="name" value="ssales" style="display: flex; justify-content: space-between; align-items: center;">
                    <span>Search Sales</span>
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                  </button>
                </th>
              </tr>
              </thead>
            </table>
            <table>
              <thead>
              <tr>
                <br>
                <!-- <hr style="width:100%;text-align:left;margin-left:0"> -->
                <th class="text-center">
                <button  id="additem" class="accordion2" name="name" value="additem">Add Item</button> 
                </th>
                <th class="text-center">
                <button  id="addsupplier" class="accordion2" name="name" value="addsupplier">Add Supplier</button> 
                </th>
                <th class="text-center">
                <button  id="addcustomer" class="accordion2" name="name" value="addcustomer">Add Customer</button> 
                </th>
              </tr>  
            </thead>
          </table>

          <table>
              <thead>
              <tr>
                <br>
                <!-- <hr style="width:100%;text-align:left;margin-left:0"> -->
                <th class="text-center">
                <button  id="cashledger" class="accordion2" name="name" value="cashledger">CASH Ledger</button> 
                </th>
                <th class="text-center">
                <button  id="saleledger" class="accordion2" name="name" value="saleledger">Customer Ledger</button> 
                </th>
                <th class="text-center">
                <button  id="purchaseledger" class="accordion2" name="name" value="purchaseledger">Supplier Ledger</button> 
                </th>
                
              </tr>  
            </thead>
          </table>

          <table>
              <thead>
              <tr>
                <br>
                <!-- <hr style="width:100%;text-align:left;margin-left:0"> -->
                <th class="text-center">
                <button  id="gstsummary" class="accordion3" name="name" value="gstsummary">GST SUMMARY</button> 
                </th>
                <th class="text-center">
                <button  id="companystock" class="accordion3" name="name" value="companystock">COMPANY STOCK AJUSTMENT</button> 
                </th>
              </tr>  
            </thead>
          </table>

          </form>
        </div>
      </div>
    </div>
 

    <div>
      <footer class="mydocfooter">
    
       
        <div class="footerblock-1">
          <h7>About Us</h7>
          <li> <a href="#"  > Medi-Trade  </a></li>
          <li> <a href="#" > Tech-Med </a></li>
          <li><a href="#"> GST & SALES & PURCHASE </a></li>
        </div>

        <div class="footerblock-2">
          <h7>Informations</h7>
          <li> <a href="https://www.linkedin.com/in/abhishek-gupta-a1a44a203/"  target="_blank"> Linkedin <i class="fa-brands fa-linkedin fa-lg"></i> </a></li>
          <li> <a href="https://github.com/cosmos-dx/"  target="_blank"> GitHub <i class="fa-brands fa-github-alt fa-lg"></i> </a></li>
          <li><a href="https://auth.geeksforgeeks.org/user/abhishekgupta1802/"  target="_blank">GeeksForGeeks<i class="fa-light fa-code-simple fa-lg"></i></a></li>
        </div>

        <div class="footerblock-3">
          <h7>Contact</h7>
          <li> <a href="#"  > HelpLine </a></li>
          <li> <a href="#" > YouTube  </a></li>
          <li><a href="#" > Twitter </a></li>
        </div>


        <p> &copy;MEDI-TRADE - <span> abhishekgupta0118@gmail.com </span></p>
      </footer> 
   </div>
</body>

<script type="text/javascript">

var fyeararray = '<%= JSON.stringify(spinfo.owner.cal) %>'; 
var caldata = null;
var cshost =  '<%= spinfo.uqpath %>';  
var rscr = {}; //'<%= spinfo %>'; 
//** dbfname variable is useing static/uploadcssjs/rmsupload.js script **//
var dbfname = '<%= spinfo.uqpath.dbfname %>'; 
var raw_dtrow = '<%= JSON.stringify(spinfo.daterow) %>';  
var dtrow = null ;

$(document).ready(function(){
  caldata = JSON.parse(jsonformater(fyeararray));
  
    dtrow = JSON.parse(jsonformater(raw_dtrow)) ;
    
    //if (rscr['daterow']==null){
    if (dtrow==null){
      
        buttonState(true);   
    }else{
        rscr['daterow'] = dtrow;
        document.getElementById('fy')[0].outerText='';
        //var partid = dtrow.partid-1;
        //$('#fy').append("<option selected='selected' value='"+partid+"'>From [" + dtrow.frm + "] To [" + /dtrow.tod + "]</option");
        buttonState(false);
        
        }
});

function onButton(evt, idf){
  let htp = document.URL;
  let chkpath = htp.split('/')[3];
  htp = htp.split(chkpath)[0]
  //var pageinfo = response.data;
  document.getElementById("statusinfo").innerHTML = idf; 
  if (idf==='purchase'){
      
    console.log(htp + 'pmain');
    location.replace(htp + 'vws/medipages/login');
  };
  if (idf==='sales'){location.replace(htp + 'smain');}
  if (idf==='spurchase'){location.replace(htp + 'spsearch:spurchase');}
  if (idf==='ssales'){location.replace(htp + 'spsearch:ssales');}
}

function buttonState(state){
    if (state===true){
        statusInfo ('Please select Financial Year !', 'red','bold',wdgid='#statusinfo')}
    else{statusInfo ('', 'red','bold',wdgid='#statusinfo')}
    var pur = document.getElementById('purchase');
    pur.disabled = state;
    var sale = document.getElementById('sales');
    sale.disabled = state;
    var addc = document.getElementById('spurchase');
    addc.disabled = state;
    var adds = document.getElementById('ssales');
    adds.disabled = state;
    var additem = document.getElementById('additem');
    additem.disabled = state;
    var addsup = document.getElementById('addsupplier');
    addsup.disabled = state;
    var addcust = document.getElementById('addcustomer');
    addcust.disabled = state;
    var cashledger = document.getElementById('cashledger');
    cashledger.disabled = state;
    var saleledger = document.getElementById('saleledger');
    saleledger.disabled = state;
    var purchaseledger = document.getElementById('purchaseledger');
    purchaseledger.disabled = state;
    // var stockledger = document.getElementById('stockledger');
    // stockledger.disabled = state;
    var gstsummary = document.getElementById('gstsummary');
    gstsummary.disabled = state;
    var companystock = document.getElementById('companystock');
    companystock.disabled = state;

  }

  function getfyear(selectObject) {
      var value = selectObject.value;  
      if (value =="null"){buttonState(true); return true;}
      var daterow = caldata[value];

      var daterange = [daterow['frm'], daterow['tod']];
      var partnum = daterow['partnum'];
      var partname = daterow['partname'];
      var fyear = partname.split('y')[1];

        //console.log(rscr);
        $.ajax({ type:"POST",url:"/selectfyear",
          data: {action:'action',type:'fyear',
          daterow:daterow, daterange:daterange, partnum:partnum, partname:partname, fyear:fyear, rscr:rscr,},    
          success:function(data) { 
             rscr = JSON.parse(data);
             buttonState(false);
             }
       });
     
    }
</script>

</html>
