<!DOCTYPE html>
<html lang="en">
<%- include('../partials/theader'); %>
<head>
  
  <meta name="description" content="Sale and Purchase Inventory For All Kind of Trade, Develop Utility Software "/>
  <meta name="keywords" content="MEDI-TRADE, MEDI-TRADE SOFT, MEDI-TRADE SOLUTIONS, ABHISHEK GUPTA, ERP, Pharmaceutical WholeSale Inventory">
  <meta name="Author" content="ABHISHEK GUPTA, abhishekgupta0118@gmail.com">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
      .table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>
  
  <script  type="text/javascript" src="public/assets/js/minajax.js"></script>
  <script  type="text/javascript" src="public/assets/js/header.js"></script>
  <script  type="text/javascript" src="public/assets/js/typeahead.min.js"></script>
  <script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
  <script  type="text/javascript" src="public/assets/js/saveprint.js"></script>
  <script  type="text/javascript" src="public/assets/js/jsPDF.js"></script>
  <link rel="stylesheet" href="public/assets/css/bootstrap.css"> 
  <link rel="stylesheet" href="public/assets/css/mystyles.css"> 
  
</head>

<body class="container-fluid">
<br>
  <h6 id="header" ><%= spinfo.title  %></h6>
  
  <div id="cis">

    <div>
      <footer class="mydocfooter">
    
       
        <div class="footerblock-1">
          <h7>About Us</h7>
          <li> <a href="#"  > Medi-Trade  </a></li>
          <li> <a href="#" > Tech-Med </a></li>
          <li><a href="#"> GST & SALES & PURCHASE </a></li>
        </div>

        <div class="footerblock-2">
          <h7>Informations</h7>
          <li> <a href="https://www.linkedin.com/in/abhishek-gupta-a1a44a203/"  target="_blank"> Linkedin <i class="fa-brands fa-linkedin fa-lg"></i> </a></li>
          <li> <a href="https://github.com/cosmos-dx/"  target="_blank"> GitHub <i class="fa-brands fa-github-alt fa-lg"></i> </a></li>
          <li><a href="https://auth.geeksforgeeks.org/user/abhishekgupta1802/"  target="_blank">GeeksForGeeks<i class="fa-light fa-code-simple fa-lg"></i></a></li>
        </div>

        <div class="footerblock-3">
          <h7>Contact</h7>
          <li> <a href="#"  > HelpLine </a></li>
          <li> <a href="#" > YouTube  </a></li>
          <li><a href="#" > Twitter </a></li>
        </div>


        <p> &copy;MEDI-TRADE - <span> abhishekgupta0118@gmail.com </span></p>
      </footer> 
   </div>
  
</body>


</html>

<script type="text/javascript">

var cshost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'ledgersearch' ;
var csdatalimit = 10;
var srd = {'spid':0,'transid':0,'csid':0,'ledgid':0,'billno':0,'gamt':0,
          'dt':'2020-01-01','invdt':'2020-01-01','name':''}; // selected row  data // selected row  data
////var partyrowdata = {};
var partyname = '';
var csdatalimit = 10;
var kyi = -1;
var scrollpos = 0;
var scrollval = 30;
var rowlen ;
var dbcscr = {'CASH':'1','CREDIT':'2', 'CHALLAN':'3'}
var cscr = {'1':'CASH','2':'CREDIT','3':'CHALLAN','':'N.A'}
var recdic= JSON.parse('<%-  JSON.stringify(spinfo.recdic)  %>');
var itemtemplate = recdic['itemtemplate'];
var xdata = {};
var estidict = {'e':'E','E':'E','m':'M','M':'M','':'M','undefined':'M', ' ':'M'}
var idcount = -1;
var csdatalimit = 5; 
const posdict = POSDICT();
var partyrows = {}; 
var stockrows = {};
var insertstockrows={};
var selectedrowdata = {};
var itemrows ;
var tamount = 0;
var pready = false;
var cs = '<%- spinfo.cs  %>';
var sp = '<%- spinfo.cssearch  %>';

var dvid = 1   // device identifier [dvid = 1 = LAPTOP/DESKTOP] [dvid = 2 = MOBILE DEVICE]
var daterange = JSON.parse('<%-  JSON.stringify(spinfo.daterange)  %>') 
var rscr = {}

var staticlimit = 12 ;// define below different for mobile devices
var varlimit = 0;
var invtotal = 0 ;

function dsp(){
  staticlimit = 12 ;
  $('#cis').append(
    '<label id="mdivheaderid"></label><div id="div1" class="rmsdiv1">'+
     '  <form method="post" action="/">'+
     ' <label id="frmstx" class="rmslabel1">From Date :</label>'+
      
     ' <input type="date" id="frm" name="frm" class="datetxtinput" style="height:27px; font-Size:1.0rem;" '+
     '   placeholder="dd/mm/yy" min="2017-01-01" value="2030-01-01"/> '+

     ' <label id="todstx" class="rmslabel1">To Date :</label> '+
     ' <input type="date" id="tod" name="tod" class="datetxtinput" style="height:27px; font-Size:1.0rem;" '+
     '           placeholder="dd/mm/yy" min="2017-01-01" value="2030-01-01"> '+

     ' </form> '+
     ' </div> '+
     ' <div id="div2" class="rmsdiv1" style="padding:5px;"> '+
     ' <label hidden="hidden" id="sp" class="rmslabel1"></label> '+
      
     ' <label id="spname" class="rmslabel1"></label> '+

     ' <input type="text" id="partysearch" name="partysearch"  class="addinput" autocomplete="off" '+
     '   list="dlist" style="text-transform:uppercase; width:330px; height:30px; border: 1px solid #a6b8ba;"  '+
     '   placeholder="Write Name" /> '+
     '   <div list="dlist" id="dlist"></div> '+
     ' </div> '+
     ' <div class="rmsdiv1"> '+
     '   <table id="toptable2" class="btTable"> '+
     '       <tr><label id="add1" class="rmslabel1"></label></tr>  '+   
     '       <tr><label id="add2" class="rmslabel1"></label></tr> '+
     '       <tr><label id="add3" class="rmslabel1"></label></tr> '+
     '       <tr><label id="mobile" class="rmslabel1"></label></tr> '+
     '       <tr><label id="regn" class="rmslabel1"></label></tr> '+
     '       <tr><label id="gstn" class="rmslabel1"></label></tr> '+
     '       <tr><label id="bal" class="rmslabel1"></label></tr> '+
     '   </table>                                                '+
     '   <label id="statusinfo" class="blink_me info"></label> <label id="blink" class="blink_me"></label> '+
     ' </div>'+ 
     '<div style="overflow-x:auto;">'+
     '<table id="ledgertable" class="table table-bordered">'+
     '<tr><th>TYPE</th><th>DATE</th><th>VOUCHER</th><th>MODE</th><th>CASH</th><th>DEBIT</th><th>CREDIT</th><th>BALANCE</th><th>REMARK</th>'+
     '</tr>'+
     '</table>'+
     '</div>'+
    
    ' <div id="alerts"></div>                                               '+
    ' <div id="divbtm2" style="display:inline-flex;">                         '+
    ' <button class="btn btn-outline-primary" id="show" onclick="onShow()" > SHOW </button>&nbsp;     '+
    ' <button class="btn btn-outline-primary" id="open" onclick="onopen()" > OPEN </button>&nbsp;     '+
    ' <form method="POST" action="/medinav">'+
    ' <button type="submit" class="btn btn-outline-primary" id="medihomenav" name="name" value="medihome" > CLOSE </button> '+
    ' </form>'+
    ' </div>                                                                  '+
    ' <div id="gifboard" ><img src="" id="rungif" /></div>'+
    
  '</div>'
    );
  }
function dspm(){
  staticlimit = 5
  document.getElementById("header").style.display='none';
  
  $('#cis').append('<br><label id="mdivheaderid" class="rmslabel1" style="color:blue;"></label>'+
    '<div id="div1" class="rmsdiv1" >'+
     '  <form method="post" action="/">'+
     ' <label id="frmstx" class="rmslabel1">From Date :</label>'+
      
     ' <input type="date" id="frm" name="frm" class="datetxtinput" style="height:27px; font-Size:1.0rem;" '+
     '   placeholder="dd/mm/yy" min="2017-01-01" value="2030-01-01"/> '+
     ' <br>                                                           '+
     ' <label id="todstx" class="rmslabel1" style="padding-right:20px;"> To Date :</label> '+
     ' <input type="date" id="tod" name="tod" class="datetxtinput" style="height:27px; font-Size:1.0rem;" '+
     '           placeholder="dd/mm/yy" min="2017-01-01" value="2030-01-01"> '+
     ' <br>    '+
     ' </form> '+
     ' </div> '+
     ' <div id="div2" class="rmsdiv1" style="padding:5px;"> '+
     ' <label hidden="hidden" id="sp" class="rmslabel1"></label> '+
     ' <label id="spname" class="rmslabel1"></label> '+
     ' <input type="text" id="partysearch" name="partysearch"  class="addinput" autocomplete="off" '+
     '   list="dlist" style="text-transform:uppercase; width:330px; height:30px; border: 1px solid #a6b8ba;"  '+
     '   placeholder="Write Name" /> '+
     '   <div list="dlist" id="dlist"></div> '+
     ' </div> '+
     ' <div class="rmsdiv1"> '+
     '   <table id="toptable2" class="btTable"> '+
     '       <tr><label id="add1" class="rmslabel1"></label></tr>  '+   
     '       <tr><label id="add2" class="rmslabel1"></label></tr> '+
     '       <tr><label id="add3" class="rmslabel1"></label></tr> '+
     '       <tr><label id="mobile" class="rmslabel1"></label></tr> '+
     '       <tr><label id="regn" class="rmslabel1"></label></tr> '+
     '       <tr><label id="gstn" class="rmslabel1"></label></tr> '+
     '       <tr><label id="bal" class="rmslabel1"></label></tr> '+
     '   </table>                                                '+
     '   <label id="statusinfo" class="blink_me info"></label> <label id="blink" class="blink_me"></label> '+
     ' </div> '+ 
     '<div style="overflow-x:auto;">'+
     '<table id="ledgertable" class="table table-bordered">'+
     '<tr><th>TYPE</th><th>DATE</th><th>VOUCHER</th><th>MODE</th><th>CASH</th><th>DEBIT</th><th>CREDIT</th><th>BALANCE</th><th>REMARK</th>'+
     '</tr>'+
     '</table>'+
     '</div>'+
    ' <div id="gifboard" ><img src="" id="rungif" /></div>'+
    ' <div id="alerts"></div>'+
    ' <div id="divbtm2" style="display:inline-flex;"> '+
    ' <button class="btn btn-outline-primary" id="show" onclick="onShow()" > SHOW </button>&nbsp;     '+
    ' <button class="btn btn-outline-primary" id="open" onclick="onopen()" > OPEN </button>&nbsp;     '+
    ' <form method="POST" action="/medinav">'+
    ' <button type="submit" class="btn btn-outline-primary" id="medihomenav" name="name" value="medihome" > CLOSE </button> '+
    ' </form>'+
    ' </div>'+

  '</div>'
    );
  }

function divlistHide(t=0){kyi=t,$("div[list]").hide()}

function ShowData(rows){
    var frm = document.getElementById("frm").value ;
    var tod = document.getElementById("tod").value ;
    var itype = '';
    var billas = '';
    var balcr = '0';
    var baldr = '0';
    var baltot = '0';
    playGIF('public/assets/img/wrun.gif');

    if (rows){
      selectedrowdata = rows;
      var text = rows.name ; //document.getElementById("sp").innerHTML;
      var searchtxt = document.getElementById("partysearch").value ;
      var ledgid = rows.ledgid
      partyname = text;
    }
    else{var ledgid = null; var text=""; partyname = "";}

    var crdr_type = 1 ;
    var searchtype = 'SPSEARCH';
    var hd = false // if table header given then hd have string otherwise false;
    divlistHide();
    
    if (cs==='customer'){searchtype = 'customerledger';crdr_type = 2 ;}
    if (cs==='suppliers'){searchtype = 'supplierledger';crdr_type = 1 ;} 
    if (cs==='cashledger'){searchtype = 'cashledger';crdr_type = 2 ; text='CASH';} 
    if (cs==='other'){searchtype = 'otherledger';crdr_type = 1 ;} 
    if (cs==='gstsummary'){searchtype = 'gstsummary';crdr_type = 1 ; text = 'gstsummary';} // <<< fake text given} 
    if (cs==='companystock'){searchtype = 'companystock';crdr_type = 1 ;
        itype = 'batch_no'; // <<< GROUP BY
        hd=['','Exp.Date','Item Name','','Pack','StockQty','Value','Append Total','Batch No','']} 
    if (cs==='companystockagg'){searchtype = 'companystock';crdr_type = 1 ;
        itype = 'productID'; // <<< GROUP BY
        hd=['','Exp.Date','Item Name','','Pack','StockQty','Value','Append Total','Batch No','']} 
    
       $.ajax({ type:"GET",url:cshost, headers: { 'Content-Type': 'application/json' },
         data: {action:'search',type:searchtype,limitrange:[varlimit,staticlimit], 
                text:text,idf:cs,ledgid:ledgid,frm:frm,tod:tod,itype:itype,billas:billas,},    
         success:function(data) { 

            $("#ledgertable").find("tr:not(:first)").remove();
            try{
            
            var getrows = JSON.parse(data);
            
            if(cs==='gstsummary'){
              AppendTableGSTSUMMARY(getrows['rowp'],'PURCHASE');
              AppendTableGSTSUMMARY(getrows['rows'],'SALE');
              $('#show').html(' * GST END * ');
              stopGIF();
              return true;
            }
            if(cs==='companystock'){
              AppendTableSTOCK(getrows);
              $('#show').html(' * UPDATE STOCK * ');
              stopGIF();
              return true;
            } 
            var balrow = [0,0];
            
            var cal_balcr = 0;
            var cal_baldr = 0;
            if(balrow[0]){cal_balcr=parseFloat(balrow[0])} 
            else{cal_balcr=0}
            if(balrow[1]){cal_baldr=parseFloat(balrow[1])} 
            else{cal_baldr=0}
            baltot = (cal_balcr-cal_baldr).toFixed(1);
            itemrows = getrows;
            if(crdr_type===2){balcr=cal_balcr;baldr=cal_baldr;addcolstr=['debit','credit'];}
            else{balcr=cal_baldr;baldr=cal_balcr;addcolstr=['credit','debit'];}
            //console.log(getrows['balrow'], cal_balcr, cal_baldr, baltot)
            var rowlength = itemrows.length;
            if (rowlength){
                  
                  if (rowlength === staticlimit){
                    
                    if(varlimit===0){
                      varlimit += staticlimit;
                      AppendTable(itemrows, varlimit, balcr, baldr, baltot, addcolstr, hd=hd);
                      $('#show').html('NEXT >');
                    }
                    else{
                      varlimit += staticlimit;
                      AppendTable(itemrows, varlimit, balcr, baldr, baltot, addcolstr, hd=hd);
                      $('#show').html('NEXT >');
                    }
                  } 
                  else{
                    rowlength = rowlength + varlimit
                    AppendTable(itemrows, rowlength, balcr, baldr, baltot, addcolstr, hd=hd);
                    $('#show').html(' * END * ');
                    varlimit = 0;
                    invtotal = 0 ;
                    //varlimit -= staticlimit; // reset to zero after adding staticlimit
                  } 
                   
                  //console.log('finalll',varlimit)
                }
            else{varlimit = 0; invtotal = 0 ; $('#show').html('NOTHING');}
            statusInfo('', 'blue','normal');
            }
            catch(err){statusInfo('SOMETHING WENT WRONG; NO DATA FOUND ! TRY AGAIN !'+err, 'red','normal')}
            stopGIF();
            divlistHide();
            }
        });
      
      //else{stopGIF();divlistHide();statusInfo('Name Not Selected; NO DATA FOUND ! TRY AGAIN !', 'red','normal')}
    }
  
  function UpdateStock(){
    playGIF('public/assets/img/wrun.gif');
    $.ajax({ type:"GET",url:cshost, headers: { 'Content-Type': 'application/json' },
         data: {action:'search',type:"",limitrange:[varlimit,staticlimit], 
                text:insertstockrows,idf:"Updatecompanystock",ledgid:"",frm:"",tod:"",itype:"",billas:"",},    
         success:function(data) {
             console.log(data);
             document.getElementById("statusinfo").innerHTML = "Stock Update Successfully !!"
             stopGIF();
         } 
       })
  }

  $(document).ready(function(){
    dvid = findDevice(dvid)
    geturl = window.location.href;
    
    if (dvid===1){dsp();}
    else {dspm();}
    
    var name = document.getElementById("sp").innerHTML;
    
    var today = rmstoday();
    document.getElementById("frm").value = today;
    document.getElementById("tod").value = today;
   
    if (cs.trim()==='purchaseledger'){
      $('#ledgertable').empty();
      HeaderChange(cs, 'SUPPLIER NAME', 'PURCHASE - Ledger Search', 'SUPPLIER Ledger')
      $('#ledgertable').append('<tr><th>TYPE</th><th>DATE</th><th>VOUCHER</th><th>MODE</th><th>PARTY NAME</th>'+
        '<th>DEBIT</th><th>CREDIT</th><th>BALANCE</th><th>REMARK</th></tr>');
     }
    else if(cs.trim()==='saleledger'){
      $('#ledgertable').empty();
      HeaderChange(cs, 'CUSTOMER NAME', 'SALE - Ledger Search', 'CUSTOMER Ledger')
      $('#ledgertable').append('<tr><th>TYPE</th><th>DATE</th><th>VOUCHER</th><th>MODE</th><th>PARTY NAME</th>'+
        '<th>DEBIT</th><th>CREDIT</th><th>BALANCE</th><th>REMARK</th></tr>');
     }
    else if(cs.trim()==='other'){HeaderChange(cs, 'ACCOUNT NAME', 'ACCOUNT - Ledger Search', 'ACCOUNT Ledger')}  
    else if(cs.trim()==='cashledger'){
        var partyfiled = document.getElementById('partysearch')
        partyfiled.value = 'CASH';
        partyfiled.disabled = true;
        HeaderChange(cs, '', 'CASH Ledger Search', 'CASH Ledger');
        $('#ledgertable').empty();
        $('#ledgertable').append('<tr><th>TYPE</th><th>DATE</th><th>VOUCHER</th><th>MODE</th><th>PARTY NAME</th>'+
        '<th>DEBIT</th><th>CREDIT</th><th>BALANCE</th><th>REMARK</th></tr>');
      }  
    else if(cs.trim()==='gstsummary'){
      var partyfiled = document.getElementById('partysearch')
      var spnameid = document.getElementById('spname')
      partyfiled.style.display = 'none'; 
      partyfiled.disabled = true;
      spnameid.style.display = 'none'; 
      spnameid.disabled = true;
      HeaderChange(cs, '', 'GST-SUMMARY', 'GST-SUMMARY');
      //document.title = 'GST-SUMMARY';
      //document.getElementById('header').innerHTML = 'GST-SUMMARY';
      $('#ledgertable').empty();
      return true;
    }
    else if(cs.trim()==='companystock'){ //divlistHide
      document.getElementById('spname').innerHTML = 'COMPANY - Name';
      document.getElementById('header').innerHTML = 'Company-Wise Stock Batch Wise';
      document.title = 'Company-Stock';
      HeaderChange(cs, 'Company Name', 'Stock Search-Item Batch Wise', 'Batch Stock');
      ClearDateElements();
      $('#ledgertable').empty();
    }
    else if(cs.trim()==='companystockagg'){
      document.getElementById('spname').innerHTML = 'COMPANY - Name';
      document.getElementById('header').innerHTML = 'Company-Wise Stock Aggregate';
      document.title = 'Stock Aggregate';
      HeaderChange(cs, 'Company Name', 'Total Stock Search-Item Wise', 'Aggregate Stock');
      ClearDateElements();
    }
    else {
      HeaderChange(cs, sp.toUpperCase() + ' - Name', sp.toUpperCase() + ' - Ledger Search', sp+ ' Ledger Search ')
    }
    
    // document.getElementById('sp').innerHTML = sp;
    // document.getElementById('spname').innerHTML = cs.toUpperCase() + ' - Name'; 
    // document.getElementById('header').innerHTML = sp.toUpperCase() + ' - Ledger Search';
    // document.title = sp+ ' Ledger Search ';
    
  
  $('#dlist').on('click',  'span', function(evt){
    evt.preventDefault();   
    var listattr = 'dlist';
    var getid = this.id ;
    var text = $(this).html();
    var divList =  $('div[list=dlist]');
    var tag = listattr ;
    kyi = getid ;
    ShowData(partyrows[kyi])
    tpartyFill(kyi, partyrows, cs, 'ledgertable', bp=false);
    kMove('select', tag, divList, listattr, text)
    divlistHide();
    $('#ledgertable').focus();
    
    });
  
  $('#partysearch').on('input keyup', function(evt){
      var text = $(this).val();
      var listattr = $(this).attr('list');
      var keyc = event.keyCode || event.which;
      var eventtype = event.type;
      var visibleelements = [] ;
      var divList =  $('div[list='+listattr+']');
      var rowlen = 0;
      var searchtype = 'partysearch';
      var getid = this.id ;
      var tag = listattr;
      if (sp==='other'){searchtype = 'otheracsearch'} 
      if (sp==='companystock'){searchtype = 'company'} 
      if (sp==='companystockagg'){searchtype = 'company'}   
      if (eventtype==='input'){
        if (text.length !== 0){
         
          $.ajax({ type:"GET",url:cshost,
              data: {action:'search',type:searchtype,limitrange:[varlimit,staticlimit],
                text:text,idf:sp.toLowerCase()+"search",ledgid:"",frm:"",tod:"",itype:"",billas:"",},
              success:function(data) { 
            
              partyrows = JSON.parse(data);
               
              $(divList[0]).empty();
         
              var spannode = divList[0] ;
              
              rowlen = partyrows.length ; //getting size of dict data from server
              //recdic['data'][tag]=datarows[kyi];
              for (var k in partyrows){
                var r = partyrows[k];
                $(spannode).append("<span data-id='"+k+"' id='"+k+"' >"+r.name+"</span");
                //$('#list-name').append('<span>'+i.toString()+'</span>');
                }
              //$(this).show(200);
              $(divList[0]).show(100);
              
              if (rowlen > 0){
                  
                  selecteddatarows = partyrows[kyi];
                  kMove('text', tag, divList, listattr, text)
                
                  kyi = 0;
                  clearAdd()
                  statusInfo('', 'red','normal', wdgid='#blink')

                  return true;
                  } 
              else{
                recdic['pan']['nameid']=null;
                statusInfo('Not Found', 'red','bold', wdgid='#blink')
                  }
                 
              }
          });
         
          }
          else {divlistHide();kyi=0;scrollpos=0;}  
        }
      else {
        if (keyc===13){
            if (partyrows.length === 0 ){return true;}
           
            ShowData(partyrows[kyi])
            tpartyFill(kyi, partyrows, cs, 'ledgertable', bp=false);
            kMove('select', tag, divList, listattr, text); 
           
            divlistHide();
            $('#show').focus();
            }
        else if (keyc===40){kMove('down', tag, divList, listattr, text);}
        else if (keyc===38){kMove('up', tag, divList, listattr, text);}
        else {kMove('text', tag, divList, listattr, text)}
        }
        
      });
  
  });

  function clearAdd(){
      document.getElementById('add1').innerHTML = '';
      document.getElementById('add2').innerHTML = '';
      document.getElementById("add3").innerHTML = '';
      document.getElementById('mobile').innerHTML = '';
      document.getElementById('regn').innerHTML = '';
      document.getElementById('gstn').innerHTML = '';
      document.getElementById('bal').innerHTML = '';
  }
  
  function HeaderChange(spc, txtcs, txtsp, titlec){
    document.getElementById('sp').innerHTML = spc;
    document.getElementById('spname').innerHTML = txtcs; 
    document.getElementById('header').innerHTML = txtsp;
    document.getElementById('mdivheaderid').innerHTML = txtsp;
    document.title = titlec;
  }

  function ClearDateElements(){
      document.getElementById('frmstx').style.display = 'none';
      document.getElementById('frm').style.display = 'none';
      document.getElementById('todstx').style.display = 'none';
      document.getElementById('tod').style.display = 'none';
  }

  function tpartyFill(getid, partyrows, cs, nextfocus, bp=true){
      
      var pdt = partyrows[getid] 

      if (pdt==undefined){pdt = partyrows[0]}
      if (bp===false){document.getElementById('partysearch').value = pdt.name;}

      document.getElementById('add1').innerHTML = pdt.add1;
      document.getElementById('add2').innerHTML = pdt.add2 + '; &nbsp; ';
      var statecode = posdict[pdt.add3];
      if (statecode == undefined){
        statecode = 'N.A';
        document.getElementById("add3").innerHTML = statecode ;}
      else{document.getElementById("add3").innerHTML = statecode;} 
      
      document.getElementById('mobile').innerHTML = "&#128222; " + pdt.mobile;
      document.getElementById('regn').innerHTML = '&nbsp; &reg; &nbsp; ' +pdt.regn;
      document.getElementById('gstn').innerHTML = 'GSTN :' + pdt.gstn;
      document.getElementById('bal').innerHTML = ' &nbsp; P.Bal. Rs:' +pdt.bal
      
      document.getElementById(nextfocus).focus();
      return true;
    };
  
  function AppendTable(rows, rowlength, balcr, baldr, baltot, addcolstr, hd=false){
    var cscr = {'':'CASH','1':'CASH','2':'CREDIT','7':'BANK','8':'PRETURN','9':'SRETURN', 'x':'','xx':'','':'',}
    var ttyp = {'1':'PURCHASE','2':'SALE','3':'PAYEMNT','4':'RECEIPT',
        '5':'CASH', '7':'BANK', '8':'PRETURN','9':'SRETURN','x':'','xx':'','':'',}
    if (hd){ // table header given
      $('#ledgertable').empty();
      var ldgtable = '<tr tabindex="0">'+
      '<td id=0_1 class="tablerows" >'+hd[0]+'</td>'+
      '<td id=0_2 class="tablerows" >'+hd[1]+'</td>'+
      '<td id=0_3 class="tablerows" style="min-width:250px;" >'+hd[2]+'</td>'+
      '<td id=0_4 class="tablerows" >'+hd[3]+'</td>'+
      '<td id=0_5 class="tablerows" >'+hd[4]+'</td>'+
      '<td id=0_6 class="tablerows" >'+hd[5]+'</td>'+
      '<td id=0_7 class="tablerows" >'+hd[6]+'</td>'+
      '<td id=0_8 class="tablerows" >'+hd[7]+'</td>'+
      '<td id=0_9 class="tablerows" style="min-width:150px;">'+hd[8]+'</td>'+
      '</tr>';
    }
    else{var ldgtable = '<tr tabindex="0">'+
      '<td id=0_1 name="0" class="tablerows" data="{}" >B/F</td>'+
      '<td id=0_2 name="0" class="tablerows" data="{}" ></td>'+
      '<td id=0_3 name="0" class="tablerows" data="{}" ></td>'+
      '<td id=0_4 name="0" class="tablerows" data="{}" >B/F</td>'+
      '<td id=0_5 name="0" class="tablerows" data="{}" >0</td>'+
      '<td id=0_6 name="0" class="tablerows" data="{}" >'+balcr+'</td>'+
      '<td id=0_7 name="0" class="tablerows" data="{}" >'+baldr+'</td>'+
      '<td id=0_8 name="0" class="tablerows" data="{}" >'+baltot+'</td>'+
      '<td id=0_9 name="0" class="tablerows" data="{}" >Balance Brought Forward</td>'+
      '</tr>';
    }
    var rowd = [];
    var cmnt = '';
    var rowdcmnt = '';
    var autobalcol = '';

    baltot = parseFloat(baltot)
    for(i=0;i<rows.length;i++){
       var rowd = rows[i];
       if(typeof(rowd["ledgid"])=="undefined"){return false;}
       
       rowdcmnt = rowd.cmnt;
       if (sp=='cash'){
            var crdrsum = parseFloat(rowd.debit)+parseFloat(rowd.credit)
            //console.log(rowd.typ, crdrsum, rowd.debit, rowd.credit, addcolstr)
            if (rowd.typ=='3'){
                baltot -= crdrsum;
              }
            else if (rowd.typ=='2'){
                baltot += crdrsum;
              }
            else if (rowd.typ=='4'){
                baltot += crdrsum;
              }
            else{
               baltot -= crdrsum;
              }
            }
       else{ 
           if (rowd.typ=='3'){
            baltot -= parseFloat(rows[i][addcolstr[1]]);
            //autobalcol = '<td id=8_'+i+' name="8" class="tablerows" data='+rowd+' >'+baltot.toFixed(1)+'</td>'
          }
           else{
            baltot += parseFloat(rows[i][addcolstr[0]]);
            //autobalcol = '<td id=8_'+i+' name="8" class="tablerows" data='+rowd+' >'+baltot.toFixed(1)+'</td>'
          }
       }

       if(rowdcmnt=='3'){cmnt='PAYEMNT'} 
       else if(rowdcmnt=='4'){cmnt='RECEIPT'}
       else{cmnt = rowd.cmnt}   
      
       ldgtable += '<tr tabindex="'+i+'">'+
        '<td id=1_'+i+' name="1" class="tablerows" data='+rowd+' >'+cscr[rowd.trtype]+'</td>'+
        '<td id=2_'+i+' name="2" class="tablerows" data='+rowd+' >'+rowd.billdate+'</td>'+
        '<td id=3_'+i+' name="3" class="tablerows" data='+rowd+' >'+rowd.billno+'</td>'+
        '<td id=4_'+i+' name="4" class="tablerows" data='+rowd+' >'+ttyp[rowd.type]+'</td>'+
        '<td id=5_'+i+' name="5" class="tablerows" style="min-width:300px;" data='+rowd+' >'+rowd.cash+'</td>'+
        '<td id=6_'+i+' name="6" class="tablerows" data='+rowd+' >'+rowd.debit+'</td>'+
        '<td id=7_'+i+' name="7" class="tablerows" data='+rowd+' >'+rowd.credit+'</td>'+
        '<td id=8_'+i+' name="8" class="tablerows" data='+rowd+' >'+baltot.toFixed(2)+'</td>'+
        '<td id=9_'+i+' name="9" class="tablerows" data='+rowd+' >'+cmnt+'</td>'+
        
        '</tr>';
    }
    $('#ledgertable').append(ldgtable);

    $('#statusinfo').html('Total Invoice Count : '+rowlength+'; Total Invoice Amount INR : '+baltot);
    //console.log('invtotal',invtotal)

  }
  
  function check_nan_return_dash(v){
    var rv = '0';
    if (isNaN(parseFloat(v))){rv = '========'}
    else{rv = parseFloat(v).toFixed(2)}
    return rv;
  }
  
function isValidDate(dateString){
    var date_regex = /^\d{1,2}\/\d{2}$/; // mm/yy Only
    if (!(date_regex.test(dateString)))return "";
    
    var parts = dateString.split("/");
    var month = parseInt(parts[0], 10);
    var year = parseInt(parts[1], 10);
    if(month>12)return "";
    return dateString;
};

function OnStockExpiryValidate(evt){
  var text = evt.target.value;
  var validatedExp = isValidDate(text);
  evt.target.value = validatedExp;
  var idx = evt.target.id;
  var getsr = stockrows[idx];
  var qty = document.getElementsByName("qty")[idx].value;
  insertstockrows[idx]={"stockid":getsr["stockid"], "_id":getsr["_id"], "itemid":getsr["itemid"],
      "batchno":getsr["batchno"], "qty":qty, "expdate":validatedExp,
    }
}
function OnStockValidate(evt){
  var text = evt.target.value;
  var idx = evt.target.id;
  var getsr = stockrows[idx];
  var expdate = document.getElementsByName("expdate")[idx].value;
  insertstockrows[idx]={"stockid":getsr["stockid"], "_id":getsr["_id"], "itemid":getsr["itemid"],
      "batchno":getsr["batchno"], "qty":text, "expdate":expdate,
    }
}

function AppendTableSTOCK(rows){
    $('#ledgertable').empty();
    var ldgtable = '<tr tabindex="0">'+
    '<td id=0_1 name="0" class="tablerows" >S.N</td>'+
    '<td id=0_2 name="0" class="tablerows" >ITEM NAME</td>'+
    '<td id=0_3 name="0" class="tablerows" >BATCH.N </td>'+
    '<td id=0_4 name="0" class="tablerows" >STOCK</td>'+
    '<td id=0_5 name="0" class="tablerows" >EXP DATE</td>'+
    '</tr>';
    
    stockrows = rows;
    for (const [i, rowd] of Object.entries(rows)) {
        
        expdate = rowd["expdate"] || "";
        batchno = rowd["batchno"] || "Not Provided";
        stock = rowd["qty"] || "";
        ldgtable += '<tr tabindex="'+i+'">'+
        '<td id=1_'+i+' name="1" class="tablerows" >'+i+'</td>'+
        '<td id=2_'+i+' name="2" class="tablerows" style="background-color:#ffe7b3; min-width:300px;" >'+rowd["name"]+'</td>'+
        '<td id=3_'+i+' name="3" class="tablerows" style="background-color:#98dae6;" >'+batchno+'</td>'+
        '<td id=4_'+i+' name="4" class="tablerows" style="background-color:#ffdc93;" >'+
        ' <input type="text" id='+i+' name="qty" placeholder="Stock" class="rmsinput" style="text-transform:uppercase; max-width:100px;" required="required" '+
        ' value="'+stock+'" onkeypress="return /[0-9]/i.test(event.key)" onkeyup="OnStockValidate(event)" />'+
        '</td>'+
        '<td id=5_'+i+' name="5" class="tablerows" data='+rowd+' style="background-color:#faf2ef;" >'+
        ' <input type="text" id='+i+' name="expdate" placeholder="mm/yy" class="rmsinput" style="max-width:80px;" value="'+expdate+'"  '+
        ' onfocusout="OnStockExpiryValidate(event)" />'+
        '</td>'+
        '</tr>';
    }
    $('#ledgertable').append(ldgtable);
    
  }

  function AppendTableGSTSUMMARY(rows, tag){
    var ldgtable = '<tr tabindex="0">'+
    '<td id=0_1 name="0" class="tablerows" >TAX RATES</td>'+
    '<td id=0_2 name="0" class="tablerows" >'+tag+'</td>'+
    '<td id=0_3 name="0" class="tablerows" >CGST</td>'+
    '<td id=0_4 name="0" class="tablerows" >SGST</td>'+
    '<td id=0_5 name="0" class="tablerows" >IGST</td>'+
    '<td id=0_6 name="0" class="tablerows" >TAXABLE</td>'+
    '<td id=0_7 name="0" class="tablerows" >TAXAMOUNT</td>'+
    '<td id=0_8 name="0" class="tablerows" >PAYABLE</td>'+
    '<td id=0_9 name="0" class="tablerows" ></td>'+
    '</tr>';
  
    for (const [i, rowd] of Object.entries(rows)) {
      var cgst = check_nan_return_dash(rowd.cgst) ;
      var sgst = check_nan_return_dash(rowd.sgst) ;
      var igst = check_nan_return_dash(rowd.taxamt) ;
      var taxable = check_nan_return_dash(rowd.taxable) ;
      var taxamt = check_nan_return_dash(rowd.taxamt) ;
      var netpayable = check_nan_return_dash(rowd.netpayable) ;

        ldgtable += '<tr tabindex="'+i+'">'+
        '<td id=1_'+i+' name="1" class="tablerows" >'+rowd.tax+'</td>'+
        '<td id=2_'+i+' name="2" class="tablerows" style="background-color:#ffe7b3;" >'+rowd.billno+'</td>'+
        '<td id=3_'+i+' name="3" class="tablerows" style="background-color:#ffdf99;" >'+cgst+'</td>'+
        '<td id=4_'+i+' name="4" class="tablerows" style="background-color:#ffdc93;" >'+sgst+'</td>'+
        '<td id=5_'+i+' name="5" class="tablerows" style="background-color:#faf2ef;" >'+taxamt+'</td>'+
        '<td id=6_'+i+' name="6" class="tablerows" style="background-color:#cbeaec;" >'+taxable+'</td>'+
        '<td id=7_'+i+' name="7" class="tablerows" style="background-color:#e6f2ff;" >'+taxamt+'</td>'+
        '<td id=8_'+i+' name="8" class="tablerows" style="background-color:#98dae6;" >'+netpayable+'</td>'+
        '<td id=9_'+i+' name="9" class="tablerows" >'+rowd.cmnt+'</td>'+
        
        '</tr>';
    }
    $('#ledgertable').append(ldgtable);
    
  }

  function rowselect(tblrow){
    srd = itemrows[tblrow];
   
    var spid = srd.spid;
    var transid = srd.transid;
    var dt = srd.dt;
    var itype = '';
    var billas = '';
    var billno = srd.billno;
    document.getElementById("statusinfo").innerHTML = spid +';  '+ transid+';  '+ dt +';  '+ billno;
    var table = document.getElementById('ledgertable'); 
    table.classList.remove('dptable');
    var ttr = table.getElementsByTagName("tr");
    var csid = selectedrowdata.nameid ;
    var text = srd.name;
    var searchtype = cs+'_open';
    playGIF('public/assets/img/wrun.gif');
    
    for (let i = 0; i < ttr.length; i++) {
        if (i % 2 === 0){ttr[i].style.backgroundColor = "powderblue";}
        else{ttr[i].style.backgroundColor = "#2BC1FF52";}
        //ttr[i].className = "dptable";
        //ttr[i].style.color = "black";   
      } 
     table.classList.add('dptable');
     ttr[tblrow+1].style.background = 'yellow';
     
     // suppliers_open or customer_open loading search itemdata here;
     if (sp==='sitemledger'){searchtype = 'sitemledger_open'}
     if (sp==='pitemledger'){searchtype = 'pitemledger_open'} 
     
     $.ajax({ type:"POST",url:cshost.queryp,
          data: {action:'search',type:searchtype,jsdata:text,cs:searchtype,lid:srd.id,spid:srd.spid,
          limitrange:[varlimit,staticlimit],           
          name:srd.name,csid:csid, transid:srd.transid, dt:srd.dt, invdt:srd.dt, billno:billno,billas:billas,
          frm:srd.dt, tod:srd.dt, gamt:srd.amt, fyear:srd.fyear, itype:itype,cxt:cshost.cxt,db:cshost.db,},    
         success:function(data) { 
            
            pready = true;
            
            recdic = JSON.parse(data);
            
            recdic['itemtemplate']=itemtemplate // updating ItemTemplate

            xdata = JSON.stringify(recdic);
            var openbtn = document.getElementById("open")
            openbtn.style.background = "yellow";
            openbtn.style.color = "blue";
            openbtn.style.fontWeight= "bold";
            openbtn.style.fontSize = "large";
            stopGIF();
           }
           
        });
    }

function onShow(){
      if(cs==="companystock"){
        if(Object.keys(insertstockrows).length>0){
          document.getElementById("statusinfo").innerHTML = ""
          UpdateStock();
        }else{
          document.getElementById("statusinfo").innerHTML = "Nothing to Update !!"
        }
        return true;
      } 
      var searchtxt = document.getElementById("partysearch").value ;
      if (searchtxt == ""){ShowData(null);}
      else{ShowData(partyrows[kyi]);}
    }

 function onopen(){
      if (typeof xdata === "string"){
        playGIF('public/assets/img/wrun.gif');
        
        
      }
      else {CreateAlertDiv("NO RECORDS FOUND ! सही तारीख और सही नाम लिखकर खोजें ! ")}

      }
  
 
</script>
</html>