<!DOCTYPE html>
<html lang="en">
<%- include('../partials/theader'); %>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="description" content="Sale and Purchase Inventory For All Kind of Trade, Develop Utility Software "/>
<meta name="keywords" content="MEDI-TRADE SOLUTIONS, MEDI-TRADE SOFT, MEDICAL Billing Software, Abishek Gupta,  ERP, Pharmaceutical WholeSale Inventory">
<meta name="Author" content="Abhishek Gupta, abhishekgupta0118@gmail.com">
<title><%= spinfo.title  %></title>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script  type="text/javascript" src="public/assets/js/minajax.js"></script>
<script  type="text/javascript" src="public/assets/js/typeahead.min.js"></script>
<script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<script  type="text/javascript" src="public/assets/js/saveprint.js"></script>
<script  type="text/javascript" src="public/assets/js/jsPDF.js"></script>
<link rel="stylesheet" href="public/assets/css/mystyles.css"> 


</head>
<body>
  <label hidden="hidden" id='sp'><%= spinfo.cs %> </label>  
  <div class="container" >
    <div id="divtop1" class="btcontainer">
      <div class="col-7">
            <label id="billdatestx" class="rmslabel1">Bill Date</label>
            <input type="date" id="billdate" name="billdate" class="textinput" 
                placeholder="dd/mm/yy" min="2020-01-01" value="2020-01-01">
            <label id="invoicestx" class="rmslabel1">Invoice Date</label>
            <input type="date" id="invoicedate" name="invoicedate" value="<%= spinfo.idate  %>" class="textinput" 
                placeholder="dd/mm/yy" min="2020-01-01">
            
            <input type="text" id="esti" name="esti" class="estivalidate" placeholder="E" maxlength="1"
                onkeyup ="onEsti(event)">
        
      </div>
    </div>  
    <label id="cssearch" style="display: none;"><%= spinfo.cssearch %> </label>
    <!----------------------------------------------------------->
    
    <div id="divtop2" class="btcontainer">
      <div class="col-10">
            <label id="stxt" class="rmslabel1"><%= spinfo.cs.toUpperCase() %>:</label>
            <input type="text" id="supsearch" name="typeahead" class="typeahead tt-query medinameinput" autocomplete="off"
             placeholder="<%= spinfo.cs  %> Name" >
            <label id="regn" class="rmslabel1"></label>
            <label id="gstn" class="rmslabel1"></label>
      </div>
    </div>  

    <div id="divtop3" class="btcontainer">
      <div class="col-12">
            <label id="stxt" class="rmslabel1">Invoice.N:</label>
            <input type="test" id="billno" name="billno" class="mediselect" maxlength="10" disabled>
            <label id="cscrstx" class="rmslabel1">Cash/Credit</label>
            <select id="cscr" name="cscr" class="mediselect" ><option value="CASH">CASH</option>
                <option value="CREDIT">CREDIT</option>
                <option value="CHALLAN">CHALLAN</option>
            </select>
            
            <label id="stxt" class="rmslabel1">D.Discount:</label>
            <input type="text" id="ddisc" name="ddisc" class="rmsgriddiscount" maxlength="5">
      </div>
    </div>  

    <div id="divtop21" class="btcontainer">
      <div id="alerts"></div> 
      <div class="col-8">
            <label id="phone" class="rmslabel1"></label> 
            <label id="add1" class="rmslabel1"></label>   
            <label id="add2" class="rmslabel1"></label>
            <label id="add3" class="rmslabel1"></label>
      </div>
    </div>  

    <div id="divtop4" class="btcontainer">  
      <div class="col-10">
            <label id="statusinfo" class="rmslabel1"></label>
            <label id="statusinfo2" class="rmslabel1"></label>
      </div>
    </div>  

    <!-- Item Grid Construct here by using javascript -->
    <div id="xitembox" class="scroll"><table id="itembox" ></table></div>

  <div id="divbtm1" class="btcontainer">
    <div id="bt1part1" class="col-12">
        <input type="text" id="cmnt" name="cmnt" class="billcomment" placeholder="bill comment">
        <label id='prlo' class="textdpprlo" style="width:6%; text-align:center;">0.0</label>

        <button class="btn btn-outline-primary" id="printconfirm" class="mbtn btn-outline-primary" style="display:none;"> PRINT </button>
        &nbsp;<button class="btn btn-outline-primary" id="printcancel" class="mbtn btn-outline-primary" style="display:none;"> CANCEL </button>

        <label id='subtotstx' class="btmstaticsumdp">SubTotal: </label>
        <label id='tsubtot' class="btmtextsumdp">0.0</label>
        <label style="width:6%; text-align:center;"></label>
        <label id='addtaxstx' class="btmstaticsumdp">GST.Amt: </label>
        <label id='ttaxamt' class="btmtextsumdp">0.0</label>
        <label style="width:6%; text-align:center;"></label>
        <label id='disamtstx' class="btmstaticsumdp">Disc.Amt: </label>
        <label id='tdisamt' class="btmtextsumdp">0.0</label>
    </div>
  </div>
  
  <div id="divbtm2" class="btcontainer">
    <div id="bt3part11" class="col-10">
        <button type="button" id="save" class="btn btn-outline-primary" onclick="onSave()"  > &nbsp; Save &nbsp; </button>
        <button type="button" id="update" class="btn btn-outline-primary" disabled onclick="onUpdate()">Update</button>
        <button type="button" id="delete" class="btn btn-outline-primary" disabled onclick="onDelete()">Delete</button>
        <label style="width:4%; text-align:center;"></label>
        <label id='tamtstx' class="btmstaticsumdp">Amt.Total: </label>
        <label id='tamt' class="btmtextsumdp">0.0</label>
        <label style="width:6%; text-align:center;"></label>
        <label id='cgststx' class="btmstaticsumdp">CGST.Amt: </label>
        <label id='cgst' class="btmtextsumdp">0.0</label>
        <label style="width:6%; text-align:center;"></label>
        <label id='sgststx' class="btmstaticsumdp">SGST.Amt: </label>
        <label id='sgst' class="btmtextsumdp">0.0</label>
      
   </div>
  </div>
  
  <div id="divbtm3" class="btcontainer">
    <div id="bt3part1" class="col-10">
        <button type="button" id="exportpdf" class="btn btn-outline-primary"  onclick="onPDF()">PDF Export</button>
        <button type="button" id="exportxls" class="btn btn-outline-primary"  onclick="onXLS()">Excel Export</button>
        <label id='roundoffstx' class="btmstaticsumdp">Round-Off: </label>
        <label id='roundoff' class="btmtextsumdp">0</label>
        <label style="width:6%; text-align:left;"></label>
        <input type="text" id="acname1" name="acname1" class="acname" style="width:15%;" placeholder="Account Name">
        <input type="text" id="acval1" name="acval1" class="acname" style="width:6%;" placeholder="Value">
    </div>
  </div>
  
  <div id="divbtm4" class="btcontainer">
    <div id="bt4part1" class="col-10">
        <form method="POST" action="/medinav">
            <button type="submit" class="btn btn-outline-primary" id="close" name="name" value="medihome" > &nbsp; CLOSE &nbsp; </button>
            <button type="submit" class="btn btn-outline-primary" id="reset" name="name" value="sales" > &nbsp; RESET &nbsp; </button> 
            <label id='gtotstx' class="btmstaticsumdp" style="color:blue;font-size:105%;">Bill Total: </label>
            <label id='gtot' class="btmtextsumdp" style="font-size:125%;text-align:center;background-color:yellow;">0.0</label>
        </form>
    </div>
    <label id='raw_gtot' hidden >0.0</label>
  </div>
</div>

<div>
    <footer class="mydocfooter">
  
     
      <div class="footerblock-1">
        <h7>About Us</h7>
        <li> <a href="#"  > Medi-Trade  </a></li>
        <li> <a href="#" > Tech-Med </a></li>
        <li><a href="#"> GST & SALES & PURCHASE </a></li>
      </div>

      <div class="footerblock-2">
        <h7>Informations</h7>
        <li> <a href="https://www.linkedin.com/in/abhishek-gupta-a1a44a203/"  target="_blank"> Linkedin <i class="fa-brands fa-linkedin fa-lg"></i> </a></li>
        <li> <a href="https://github.com/cosmos-dx/"  target="_blank"> GitHub <i class="fa-brands fa-github-alt fa-lg"></i> </a></li>
        <li><a href="https://auth.geeksforgeeks.org/user/abhishekgupta1802/"  target="_blank">GeeksForGeeks<i class="fa-light fa-code-simple fa-lg"></i></a></li>
      </div>

      <div class="footerblock-3">
        <h7>Contact</h7>
        <li> <a href="#"  > HelpLine </a></li>
        <li> <a href="#" > YouTube  </a></li>
        <li><a href="#" > Twitter </a></li>
      </div>


      <p> &copy;MEDI-TRADE - <span> abhishekgupta0118@gmail.com </span></p>
    </footer> 
 </div>
</body>
<script type="text/javascript">

var cshost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'partysearchenter' ;
var itemhost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'itemsearchenter' ; 
var cs = "customer";
var spedit = false ; // will true when update bill ;
var dbcscr = {'CASH':'1','CREDIT':'2', 'CHALLAN':'3'}
var estidict = {'e':'E','E':'E','m':'M','M':'M','':'M','undefined':'M', ' ':'M'}
var idcount = -1;
var csdatalimit = 10;
var itemdatalimit = 5; 
const posdict = POSDICT();
var info = ['axy','first info','b','second, info'];
var raw_billseries =  '<%- JSON.stringify(spinfo.billseries) %>'; 

var fyear =  parseInt('<%= spinfo.fyear %>');
var billseries = {};
var owner = JSON.parse('<%- JSON.stringify(spinfo.owner) %>'); 
var userinfo = JSON.parse('<%- JSON.stringify(spinfo.userinfo) %>'); 
var bankinfo = JSON.parse('<%- JSON.stringify(spinfo.bankinfo) %>'); 
var recdic = JSON.parse('<%- JSON.stringify(spinfo.recdic) %>');
var rscr = {"userinfo":userinfo, "bankinfo":bankinfo};

//var info = {'1':'axy','2':'first info','b':'second','ginfo':'info'};
//window.onbeforeunload = function(){return false;};


 
$(document).ready(function(){

    var today = rmstoday();
    document.getElementById("billdate").value = today;
    document.getElementById("invoicedate").value = today;
    if (!recdic['edit']){ 
        billseries = JSON.parse(raw_billseries);
        //console.log('bill set', billseries['main']);
        //console.log('bill set', billseries['main'],  billseries['fyear']);
       
        billnoSET('#billno', billseries['main'],  fyear)
    }
    tableColumnHeader();
    appendRow();
    cs = document.getElementById("sp").innerHTML.toLowerCase();
    document.getElementById("update").style.display = "none";
    document.getElementById("delete").style.display = "none";
    
    // getcolumn will return value accordingly ==> 
    // only one column name/add1/(or any one column only) or all [working for only two options];

    searchTypeAhead('#supsearch',cs,'GET', {wildcard: '%QUERY',url:cshost+"?name=%QUERY"+
        "&idf="+cs+"&getcolumn=customer_name&limit="+csdatalimit }, csdatalimit)

        
    // Below searchTypeAhead is Not Required 
    //searchTypeAhead('#0_itemsearch','items','POST', {wildcard: '%QUERY',url:cshost+"?name=%QUERY"
    //    +"&idf=items&getcolumn=name&limit="+itemdatalimit }, itemdatalimit)
    
    $("#printcancel").click(function(){
          window.location.reload(); 
        });
    $("#printconfirm").click(function(){
          //try{
            if (spedit){
                recdic['pan']['email']='abcd@efgh.com';
                recdic['pan']['tamt']=document.getElementById("tamt").innerHTML ;
                recdic['pan']['tdisamt']=document.getElementById("tdisamt").innerHTML ;
                recdic['pan']['ttaxamt']=document.getElementById("ttaxamt").innerHTML ;
                recdic['pan']['tsubtot']=document.getElementById("tsubtot").innerHTML ;
                recdic['pan']['roundoff']=document.getElementById("roundoff").innerHTML ;
                recdic['pan']['gtot']=document.getElementById("gtot").innerHTML ;
                recdic['pan']['rgtot']=document.getElementById("gtot").innerHTML ;
                }
            CreatePDF(rscr, recdic, ornt="landscape")
            window.location.reload();
          //}
          //catch(err){CreateAlertDiv("Cannot Generate PDF ["+err.message+" ]"); }
          document.getElementById("statusinfo").innerHTML="PDF Exported !!";
        }); 
    });

function onSave_for_testing(evt){
    var pan = {"name": "TIWARI MEDICAL STORE","add1": "NEAR BHALUWANI PHC","add2": "BHALUWANI, DEORIA","add3": "09","pincode": "",
        "area": "BHALUWANI","mobile": "9450888369","email": "","ophone": "","pan": "","bal": "","regn": "","gstn": "09AITPT5288J1Z3",
        "cmnt": "Y","mode": "2","ledgid": 59,"supid": 31,"billas": "M","itype": "1","gtot": "1975.68","tsubtot": "1764.00",
        "tamt": "1764.00","ttaxamt": "211.68","tdisamt": "0.00","cgst": "105.84","sgst": "105.84","dbbilldate": "2023-04-09",
        "dbinvdate": "2023-04-09","billdate": "09/04/2023","invdate": "09/04/2023","esti": "M","ddisc": "","cscr": "CASH",
        "dbcscr": "1","billno": "S00010","csid": 31,"fyear": "8", "roundoff":"0.10"};
    var grid = {
        "0": {"name": "TERGEM TAB","pack": "10*7","unit": "TAB","netrate": "120.96","prate": 33.5,"srate": 108,"tax1": 6,"tax2": 6,"tax": 12,
        "dis": 0,"mrp": 135,"bonus": 0,"hsn": "3004","pgroup": "","prack": "","batchno": "UDT-21055A","dbbatchstock": 9,"compid": 1362,"supid": 5,"proid": 7,
        "stockarray": [{"stockID": 903,"proid": 7,"batchno": "UDT-21055A","qty": 9,"expdt": "2022-11-01"},
                       {"stockID": 888,"proid": 7,"batchno": "EH836","qty": 2,"expdt": "2022-07-01"},
                       {"stockID": 821,"proid": 7,"batchno": "LG11/169/02","qty": 1,"expdt": "2021-10-01" }],
        "totstk": 12,"multibat": false,"qty": 10,"bbool": true,"tqty": 10,"rate": 108,"amt": "1080.00","tdisamt": "0.00","ttaxamt": "129.60","cgst": "64.80",
        "sgst": "64.80","amttot": "1080.00","netamt": "1209.60","pnet": 120.96,"srate_a": "0.0","stkvar": 2
            },
        "1": {"name": "MORFIT PLUS","pack": "15GM","unit": "OINT","netrate": "63.84","prate": 15.92,"srate": 57,"tax1": 6,"tax2": 6,"tax": 12,"dis": 0,
        "mrp": 75,"bonus": 0,"hsn": "3004","pgroup": "","prack": "","batchno": "116","dbbatchstock": 264,"compid": 1393,"supid": 6,"proid": 41,
        "stockarray": [{"stockID": 989,"proid": 41,"batchno": "116","qty": 264,"expdt": "2023-10-01"}],
        "totstk": 264,"multibat": false,"qty": 12,"bbool": true,"tqty": 12,"rate": 57,"amt": "684.00","tdisamt": "0.00","ttaxamt": "82.08","cgst": "41.04",
        "sgst": "41.04","amttot": "684.00","netamt": "766.08","pnet": 63.84,"srate_a": "0.0","stkvar": 252}
        };
    recdic = {"pan":pan,"grid":grid,ac: {}, static: {}, edit: false, other: {} };
    showPrintConfirm();
}

function onSave(evt){
    let savebool = true;
    RecdicPanFill();
    //console.log(recdic);
    /*matching keys that is used to insert into database*/

    recdic['pan']["fyear"]=fyear;
    
    //console.log(recdic['pan']);
    savebool = validateDBEntry(savebool);
    //console.log(recdic);
    if (savebool){
        if(typeof recdic['grid'][0]["qty"] == 'undefined'){
            document.getElementById("statusinfo").innerHTML=" No Items Selected !";
            document.getElementById("statusinfo2").innerHTML=" Cannot Save !";
            return false;
        }
        DbSaveBill(recdic, cs.trim(), "save", "POST", "/sendbilltodb");
        showPrintConfirm(); // << This Should not be called here; should call after successfully insert data into database

        }
        

    }
    
function onUpdate(evt){
    document.getElementById("statusinfo").innerHTML="UPDATE Button Pressed";}
function onDelete(evt){
    document.getElementById("statusinfo").innerHTML="DELETE Button Pressed";}    
function onPDF(evt){
    document.getElementById("statusinfo").innerHTML="PDF Export Button Pressed";}
function onXLS(evt){
    document.getElementById("statusinfo").innerHTML="Excell Export Button Pressed";}

function onEsti(evt){
    if(evt.target.value.trim()==""){
        billnoSET('#billno', billseries['main'],  fyear)
    }else{
        billnoSET('#billno', billseries['esti'],  fyear)
    }
    //console.log(billseries);
    RecdicPanFill()
};

</script>
<!-- rmsinputvalidate.js is wrapper function this will work after page loaded completely   -->
<script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<script  type="text/javascript" src="public/assets/js/mediinputvalidate.js"></script>
<!-- <script  type="text/javascript" src="public/assets/js/saveprint.js"></script> -->
</html>
