<!DOCTYPE html>
<html lang="en">

<%- include('../partials/theader'); %>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="description" content="Sale and Purchase Inventory For All Kind of Trade, Develop Utility Software "/>
<meta name="keywords" content="MEDI-TRADE SOLUTIONS, MEDI-TRADE SOFT, MEDICAL Billing Software, Abishek Gupta,  ERP, Pharmaceutical WholeSale Inventory">
<meta name="Author" content="Abhishek Gupta, me.abhi.deo.18@gmail.com">
<title><%= spinfo.title  %></title>

<script  type="text/javascript" src="public/assets/js/minajax.js"></script> 
<script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<script  type="text/javascript" src="public/assets/js/saveprint.js"></script>
<script  type="text/javascript" src="public/assets/js/jsPDF.js"></script>
<link rel="stylesheet" href="public/assets/css/mystyles.css"> 
<link rel="stylesheet" href="public/assets/css/bootstrap.css"> 

</head>
<body>
  <label hidden="hidden" id='sp'><%= spinfo.cs %> </label>
  <div class="container" >
    <div id="divtop1" class="btcontainer">
      <div class="">
            <label id="billdatestx" class="rmslabel1">Bill Date</label>
            <input type="date" id="billdate" name="billdate" class="textinput" 
                placeholder="dd/mm/yy" min="2020-01-01" value="2020-01-01">
            <label id="invoicestx" class="rmslabel1">Invoice Date</label>
            <input type="date" id="invdate" name="invdate" value="<%= spinfo.idate  %>" class="textinput" 
                placeholder="dd/mm/yy" min="2020-01-01">
            
            <input type="text" id="esti" name="esti" class="estivalidate" placeholder="E" maxlength="1"
                onkeyup ="onEsti(event)">
        
      </div>
    </div>  
    <label id="cssearch" style="display: none;"><%= spinfo.cssearch %> </label>
    <!----------------------------------------------------------->
    
    <div id="divtop2" class="btcontainer">
      <div class="">
            <label id="stxt" class="rmslabel1"><%= spinfo.cs.toUpperCase() %>:</label>
            <input type="text" id="supsearch" name="partysearch"  class="addinput" autocomplete="off"             
                list="dlist" style="text-transform:uppercase; width:330px; height:30px; border: 1px solid #a6b8ba;"    
                placeholder="<%= spinfo.cs  %> Name" /> 
            <div style="margin-left:90px; margin-top:-5px;" list="dlist" id="dlist"></div>
           
            <label id="blink" class="blink_me info"></label>
            <label id="bal" class="rmslabel1"></label>
            <label id="regn" class="rmslabel1"></label>
            <label id="gstn" class="rmslabel1"></label>
      </div>
    </div>  

    <div id="divtop3" class="btcontainer">
      <div class="">
            <label id="stxt" class="rmslabel1">Invoice.N:</label>
            <input type="test" id="billno" name="billno" class="mediselect" maxlength="10" >
            <label id="cscrstx" class="rmslabel1">Cash/Credit</label>
            <select id="cscr" name="cscr" class="mediselect" ><option value="CASH">CASH</option>
                <option value="CREDIT">CREDIT</option>
                <option value="CHALLAN">CHALLAN</option>
            </select>
            
            <label id="stxt" class="rmslabel1">D.Discount:</label>
            <input type="text" id="ddisc" name="ddisc" class="rmsgriddiscount" maxlength="5">
      </div>
    </div>  

    <div id="divtop21" class="btcontainer">
      <div id="alerts"></div> 
      <div >
            <label id="phone" class="rmslabel1"></label> 
            <label id="add1" class="rmslabel1"></label>   
            <label id="add2" class="rmslabel1"></label>
            <label id="add3" class="rmslabel1"></label>
      </div>
    </div>  

    <div id="divtop4" class="btcontainer">  
      <div>
            <label id="statusinfo" class="blink_me info"></label>
            <label id="statusinfo2" class="rmslabel1"></label>
      </div>
    </div>  
  <!-- Item Grid Construct here by using javascript -->  
  <div id="xitembox" class="scroll">
      <table id="itembox" >
        <script type="text/javascript" charset="utf-8">
           var spedit =  JSON.parse('<%- JSON.stringify(spedit) %>');
           var recdic = JSON.parse('<%- JSON.stringify(spinfo.recdic) %>');
           var itemrows ={};
           var idcount = -1;
            tableColumnHeader(); 
            
            if(spedit){       
              var speditdata = SPEDIT_appendRow(recdic["pan"], recdic["grid"]);
              var prows=recdic['pan'];
              itemrows=recdic['grid'];;
              var staticidcount = itemrows.length-1;
             
            }else{
                appendRow();
            }
        </script>
      </table>
  </div>

  <div id="divbtm1" class="btcontainer">
    <div id="bt1part1" class="">
        <input type="text" id="cmnt" name="cmnt" class="billcomment" placeholder="bill comment">
        <label id='prlo' class="textdpprlo" style="width:6%; text-align:center;">0.0</label>

        <button class="btn btn-outline-primary" id="printconfirm" class="mbtn btn-outline-primary" style="display:none;"> PRINT </button>
        &nbsp;<button class="btn btn-outline-primary" id="printcancel" class="mbtn btn-outline-primary" style="display:none;"> CANCEL </button>

        <label id='subtotstx' class="btmstaticsumdp">SubTotal: </label>
        <label id='tsubtot' class="btmtextsumdp">0.0</label>
        <label style="width:6%; text-align:center;"></label>
        <label id='addtaxstx' class="btmstaticsumdp">GST.Amt: </label>
        <label id='ttaxamt' class="btmtextsumdp">0.0</label>
        <label style="width:6%; text-align:center;"></label>
        <label id='disamtstx' class="btmstaticsumdp">Disc.Amt: </label>
        <label id='tdisamt' class="btmtextsumdp">0.0</label>
    </div>
  </div>
  
  <div id="divbtm2" class="btcontainer">
    <div id="bt3part11" class="">
        <button type="button" id="save" class="btn btn-outline-primary" onclick="onSave()"  > &nbsp; Save &nbsp; </button>
        <button type="button" id="update" class="btn btn-outline-primary" disabled onclick="onUpdate()">Update</button>
        <button type="button" id="delete" class="btn btn-outline-primary" disabled onclick="onDelete()">Delete</button>
        <label style="width:4%; text-align:center;"></label>
        <label id='tamtstx' class="btmstaticsumdp">Amt.Total: </label>
        <label id='tamt' class="btmtextsumdp">0.0</label>
        <label style="width:6%; text-align:center;"></label>
        <label id='cgststx' class="btmstaticsumdp">CGST.Amt: </label>
        <label id='cgst' class="btmtextsumdp">0.0</label>
        <label style="width:6%; text-align:center;"></label>
        <label id='sgststx' class="btmstaticsumdp">SGST.Amt: </label>
        <label id='sgst' class="btmtextsumdp">0.0</label>
      
   </div>
  </div>
  
  <div id="divbtm3" class="btcontainer">
    <div id="bt3part1" class="">
        <button type="button" id="exportpdf" class="btn btn-outline-primary"  onclick="onPDF()">PDF Export</button>
        <button type="button" id="exportxls" class="btn btn-outline-primary"  onclick="onXLS()">Excel Export</button>
        <label id='roundoffstx' class="btmstaticsumdp">Round-Off: </label>
        <label id='roundoff' class="btmtextsumdp">0</label>
        <label style="width:6%; text-align:left;"></label>
        <input type="text" id="acname1" name="acname1" class="acname" style="width:15%;" placeholder="Account Name">
        <input type="text" id="acval1" name="acval1" class="acname" style="width:6%;" placeholder="Value">
    </div>
  </div>
  
  <div id="divbtm4" class="btcontainer">
    <div id="bt4part1" class="">
        <form method="POST" action="/medinav">
            <button type="submit" class="btn btn-outline-primary" id="close" name="name" value="medihome" > &nbsp; CLOSE &nbsp; </button>
            <button type="submit" class="btn btn-outline-primary" id="reset" name="name" value="sales" > &nbsp; RESET &nbsp; </button> 
            <label id='gtotstx' class="btmstaticsumdp" style="color:blue;font-size:105%;">Bill Total: </label>
            <label id='gtot' class="btmtextsumdp" style="font-size:125%;text-align:center;background-color:yellow;">0.0</label>
        </form>
    </div>
    <label id='raw_gtot' hidden >0.0</label>
  </div>
</div>
<div>
  <footer class="mydocfooter">

   
    <div class="footerblock-1">
      <h7>About Us</h7>
      <li> <a href="#"  > Medi-Trade  </a></li>
      <li> <a href="#" > Tech-Med </a></li>
      <li><a href="#"> GST & SALES & PURCHASE </a></li>
    </div>

    <div class="footerblock-2">
      <h7>Informations</h7>
      <li> <a href="https://www.linkedin.com/in/abhishek-gupta-a1a44a203/"  target="_blank"> Linkedin <i class="fa-brands fa-linkedin fa-lg"></i> </a></li>
      <li> <a href="https://github.com/cosmos-dx/"  target="_blank"> GitHub <i class="fa-brands fa-github-alt fa-lg"></i> </a></li>
      <li><a href="https://auth.geeksforgeeks.org/user/abhishekgupta1802/"  target="_blank">GeeksForGeeks<i class="fa-light fa-code-simple fa-lg"></i></a></li>
    </div>

    <div class="footerblock-3">
      <h7>Contact</h7>
      <li> <a href="#"  > HelpLine </a></li>
      <li> <a href="#" > YouTube  </a></li>
      <li><a href="#" > Twitter </a></li>
    </div>


    <p> &copy;MEDI-TRADE - <span> abhishekgupta0118@gmail.com </span></p>
  </footer> 
</div>
</body>
<script type="text/javascript">


var cshost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'partysearchenter' ;
var itemhost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'itemsearchenter' ; 
var cs = "supplier";
// var spedit = false ; // will true when update bill ;
var dbcscr = {'CASH':'1','CREDIT':'2', 'CHALLAN':'3'}
var rvcscr = {'1':'CASH','2':'CREDIT', '3':'CHALLAN'}
var estidict = {'e':'E','E':'E','m':'M','M':'M','':'M','undefined':'M', ' ':'M'}

// var staticidcount = 0;
var partyrows = {};
var selecteditemrow = {};
var selectedstockrow = {};
var kyi = 0;
var kbatchcount = -1;
var keyc = 0;
var scrollpos = 0;
var scrollval = 30 ;
var csdatalimit = 10; 
var itemdatalimit = 5; 
const posdict = POSDICT();
var info = ['axy','first info','b','second, info'];
//window.onbeforeunload = function(){return false;};
var fyear =  '<%= spinfo.fyear %>';
var owner = JSON.parse('<%- JSON.stringify(spinfo.owner) %>'); 
var userinfo = JSON.parse('<%- JSON.stringify(spinfo.userinfo) %>'); 
var bankinfo = JSON.parse('<%- JSON.stringify(spinfo.bankinfo) %>'); 

var itemtemplate = recdic["itemtemplate"];

var rscr = {"userinfo":userinfo, "bankinfo":bankinfo};

function fin_btn_hglt(flag1, flag2){
    document.getElementById("update").style.display = flag1[0];
    document.getElementById("delete").style.display = flag1[0];
    document.getElementById('update').disabled = flag1[1];
    document.getElementById('delete').disabled = flag1[1];
    document.getElementById("save").style.display = flag2[0];
    document.getElementById("save").disabled = flag2[1];
    
}

$(document).ready(function(){


    var today = rmstoday();

    recdic['edit']=spedit;
    cs = document.getElementById("sp").innerHTML.toLowerCase().trim();
    var csurl = cshost+"?idf="+cs+"&getcolumn=name&limit="+csdatalimit;
    var itemurl = itemhost+"?idf=items&getcolumn=name&limit="+csdatalimit;
    partySearch(cs, csurl); // <<<=== NEW FUNCTION ADDITION 

    if (recdic['edit']){    
        fin_btn_hglt(["inline", false], ["none", true]);
        PartyPopulate_On_SPedit_Only();
        $("#deleteconfirm").click(function(){
            let savebool = true;
            RecdicPanFill();
            //console.log(recdic);
            DbSaveBill(recdic, cs.trim(), "delete", "POST", "/sendbilltodb");
            hidePrintConfirm()
            PageRedirect(cs.trim());
        });
    }
    else{
        document.getElementById("billdate").value = today;
       document.getElementById("invdate").value = today;
      fin_btn_hglt(["none", true],["inline", false]);
    }

    if(cs=="customer"){
      if (!recdic['edit']){       
        document.getElementById('billno').disabled=true;
        recdic['pan']["fyear"]=fyear;
        var raw_billseries =  '<%- JSON.stringify(spinfo.billseries) %>';
        billseries = JSON.parse(raw_billseries);
        billnoSET('#billno', billseries['main'],  fyear);
      }
   
    }

    
    $("#printcancel").click(function(){
          window.location.reload(); 
        });
    $("#printconfirm").click(function(){
          try{
            if (spedit){
                recdic['pan']['email']='abcd@efgh.com';
                recdic['pan']['tamt']=document.getElementById("tamt").innerHTML ;
                recdic['pan']['tdisamt']=document.getElementById("tdisamt").innerHTML ;
                recdic['pan']['ttaxamt']=document.getElementById("ttaxamt").innerHTML ;
                recdic['pan']['tsubtot']=document.getElementById("tsubtot").innerHTML ;
                recdic['pan']['roundoff']=document.getElementById("roundoff").innerHTML ;
                recdic['pan']['gtot']=document.getElementById("gtot").innerHTML ;
                recdic['pan']['rgtot']=document.getElementById("gtot").innerHTML ;
                }
            CreatePDF(rscr, recdic, ornt="landscape")
            window.location.reload();
          }
          catch(err){ CreateAlertDiv("Cannot Generate PDF ["+err.message+" ]"); }
          document.getElementById("statusinfo").innerHTML="PDF Exported !!";
        }); 
    });

function PartyPopulate_On_SPedit_Only(){
  document.getElementById("cscr").value = rvcscr[prows["cscr"]];
  document.getElementById("supsearch").value=prows["name"];
  document.getElementById("billno").value=prows["billno"];
  document.getElementById("esti").value=prows["billas"];
  document.getElementById("billdate").value=prows["billdate"];
  document.getElementById("invdate").value=prows["invdate"];
  document.getElementById("add1").innerHTML=prows["add1"];
  document.getElementById("add2").innerHTML=prows["add2"];
  document.getElementById("regn").innerHTML=prows["regn"];
  document.getElementById("gstn").innerHTML=prows["gstn"];
  document.getElementById("add3").innerHTML=prows["add3"];
  document.getElementById("phone").innerHTML=prows["phone"];
  document.getElementById("bal").innerHTML="0.00";
  document.getElementById("blink").innerHTML="*** EDIT ON ***";

  var billgamt = parseFloat(prows["gamt"]).toFixed(2);
  var roundgamt = parseFloat(prows["gamt"]).toFixed(0);
  var roundoffval = billgamt - roundgamt;

  document.getElementById("gtot").innerHTML="Rs " + roundgamt.toString() + "/-";
  document.getElementById("raw_gtot").innerHTML=roundgamt;
  document.getElementById("roundoff").innerHTML=roundoffval.toFixed(2).toString();

  document.getElementById("tsubtot").innerHTML=prows["amt"];
  document.getElementById("tamt").innerHTML=prows["tamt"];
  document.getElementById("ttaxamt").innerHTML=prows["ttaxamt"];
  document.getElementById("tdisamt").innerHTML=prows["tdisamt"];
  document.getElementById("cgst").innerHTML=prows["cgst"];
  document.getElementById("sgst").innerHTML=prows["sgst"];
}

function onSave(evt){
    let savebool = true;
    RecdicPanFill();

    
    /*matching keys that is used to insert into database*/
    recdic['pan']["fyear"]=fyear;
    
    //console.log(recdic['pan']);
    savebool = validateDBEntry(savebool);
    //console.log(cs, recdic);
    if (savebool){
        
        if(typeof recdic['grid'][0]["qty"] == 'undefined'){
            document.getElementById("statusinfo").innerHTML=" No Items Selected !";
            document.getElementById("statusinfo2").innerHTML=" Cannot Save !";
            return false;
        }
      
        //console.log(recdic['ac']);
        //console.log(recdic['grid']);
        
         DbSaveBill(recdic, cs, "save", "POST", "/sendbilltodb");

        showPrintConfirm(); // << This Should not be called here; should call after successfully insert data into database
        }
}

    
function onUpdate(evt){
    let savebool = true;
    if(typeof(recdic['pan'])==="string"){
        recdic["pan"] = JSON.parse(recdic["pan"]);
    }
    
    RecdicPanFill();
    //console.log(recdic);
    /*matching keys that is used to insert into database*/
    //recdic['pan']["csid"]=recdic['pan']["csid"];
    recdic['pan']["fyear"]=fyear;
    
    if(typeof(recdic['grid'])==="string"){
        recdic["grid"] = itemrows; 
    }
    savebool = validateDBEntry(savebool);
    
    if (savebool){
        if(typeof recdic['grid'][0]["qty"] == 'undefined'){
            document.getElementById("statusinfo").innerHTML=" No Items Selected !";
            document.getElementById("statusinfo2").innerHTML=" Cannot Save !";
            return false;
        }

        DbSaveBill(recdic, cs.trim(), "update", "POST", "/sendbilltodb");
        showPrintConfirm(); // << This Should not be called here; should call after successfully insert data into database

        }
}

function showDeleteConfirm(){
  $('#save').css('display', 'none');
  $('#update').css('display', 'none');
  $('#delete').css('display', 'none');
  $('#reset').css('display', 'none');
  $('#close').css('display', 'none');
  $('#exportpdf').css('display', 'none');
  $('#exportxls').css('display', 'none');
  $('#printconfirm').css('display', 'none');
  $('#deleteconfirm').css('display', 'inline-flex');
  $('#printcancel').css('display', 'inline-flex');
  $('#deleteconfirm').css('text-align', 'center');
  $('#printcancel').css('text-align', 'center');
  $('#deleteconfirm').focus();
  }

function onDelete(evt){showDeleteConfirm()}
    
function onPDF(evt){
    if(typeof(recdic['pan'])==="string"){
        recdic["pan"] = JSON.parse(recdic["pan"]);
    }
    if(typeof(recdic['grid'])==="string"){
        recdic["grid"] = itemrows; 
    }
    if(RecdicPanFill()){
        showPrintConfirm()
    }
    //document.getElementById("status").innerHTML="PDF Export Button Pressed";
    }

function onXLS(evt){
    document.getElementById("statusinfo").innerHTML="Excell Export Button Pressed";}

function onEsti(evt){RecdicPanFill()};


//searchTypeAhead('#supsearch','suppliers','GET', cshost+"?key=%QUERY", 4)

</script>
<!-- rmsinputvalidate.js is wrapper function this will work after page loaded completely   -->
<!-- <script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<script  type="text/javascript" src="public/assets/js/mediinputvalidate.js"></script> -->
</html>
