<!DOCTYPE html>
<html lang="en">

<%- include('../partials/theader'); %>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title><%= spinfo.title  %></title>

<script  type="text/javascript" src="public/assets/js/minajax.js"></script> 
<script  type="text/javascript" src="public/assets/js/typeahead.min.js"></script>
<script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<script  type="text/javascript" src="public/assets/js/saveprint.js"></script>
<script  type="text/javascript" src="public/assets/js/jsPDF.js"></script>
<link rel="stylesheet" href="public/assets/css/mystyles.css"> 
<!--<style type="text/css" src="public/assets/css/mystyles.css"></style>-->
</head>
<body>
  <label hidden="hidden" id='sp'><%= spinfo.cs %> </label>
  <div class="container" >
    <div id="divtop1" class="btcontainer">
      <div class="rmsdiv1">
        <table id="toptable1" class="btTable">

            <tr><label style="width:2.5%; text-align:center;"></label></tr>
            <tr><label id="billdatestx" class="rmslabel1">Bill Date</label></tr>
            <tr><input type="date" id="billdate" name="billdate" class="textinput" 
                  placeholder="dd/mm/yyyy"
                  value="2023-07-22" min="2020-04-01" max="2030-03-31"></tr>
            <tr><label style="width:3%; text-align:center;"></label></tr>
            <tr><input type="text" id="esti" name="esti" class="estivalidate" placeholder="E" maxlength="1"
                onkeypress ="onEsti()"></tr>
            <tr><label style="width:18%; text-align:center;"></label></tr>
            <tr><label id="stxt" class="rmslabel1"></label></tr>
            <tr><input type="text" id="supsearch" name="typeahead" class="typeahead tt-query" autocomplete="off"
            style="text-transform:uppercase" placeholder="<%= spinfo.cs  %> Name" ></tr>
            
        </table>
        <label id="cssearch" style="display: none;"><%= spinfo.cssearch %> </label>
      </div>
    </div>  

    
    <div id="divtop2" class="btcontainer">
      <div class="rmsdiv1">
        <table id="toptable2" class="btTable">
            <tr><label id="invoicestx" class="rmslabel1">Invoice Date</label></tr>
            <tr><input type="date" id="invoicedate" 
                name="invoicedate" value="<%= spinfo.idate  %>" class="textinput" 
                placeholder="dd/mm/yyyy" min="2020-01-01"></tr>
            <tr><label style="width:3%; text-align:center;"></label></tr>
            <tr><label id="stxt" class="rmslabel1">Invoice.No:</label></tr>
            <tr><input type="test" id="billno" name="billno" class="textinput" maxlength="10"></tr>
            <tr><label style="width:3%; text-align:center;"></label></tr>
            <tr><label id="add1" class="rmslabel1"></label></tr>    
            <tr><label id="add2" class="rmslabel1"></label></tr>
            <tr><label id="add3" class="rmslabel1"></label></tr>
        </table>
      </div>
    </div>  

    <div id="divtop3" class="btcontainer">
      <div id="alerts"></div>  
      <div class="rmsdiv1">
        <table id="toptable3" class="btTable">
            <tr><label id="cscrstx" class="rmslabel1">Cash/Credit</label></tr>
            <tr><select id="cscr" name="cscr"><option value="CASH">CASH</option>
                <option value="CREDIT">CREDIT</option>
                <option value="CHALLAN">CHALLAN</option>
            </select></tr>
            <tr><label style="width:1%; text-align:center;"></label></tr>
            <tr><label id="stxt" class="rmslabel1" style="font-size: 70%;">D.Discount:</label></tr>
            <tr><input type="text" id="ddisc" name="ddisc" class="rmsgriddiscount" maxlength="5"></tr>
            <tr><label style="width:13%; text-align:center;"></label></tr>
            
            <tr><label style="width:1%; text-align:center;"></label></tr>
            <tr><label id="regn" class="rmslabel1"></label></tr>
            <tr><label id="gstn" class="rmslabel1"></label></tr>
        </table>
      </div>
    </div>  

    <div id="divtop4" class="btcontainer">  
      <div class="rmsdiv1">
        <table id="toptable4" class="btTable">
            <tr><label id="statusinfo" class="rmslabel1" style="width:30%;"></label></tr>
            <tr><label style="width:1%; text-align:center;"></label></tr>
            <tr><label  class="rmslabel1"></label></tr>
            <tr><label style="width:2%; text-align:center;"></label></tr>
            <tr><label id="statusinfo2" class="rmslabel1"></label></tr>
        </table>
      </div>
    </div>  

    <div id="xitembox" class="scroll">
        <table id="itembox" >
            <!-- <tr>
                <th></th>
                <th></th>
                <th>Items Name</th>
                <th>Pack</th>
                <th>Qty</th>
                <th>Batch</th>
                <th>Bonus</th>
                <th>Rate</th>
                <th>Discount</th>
                <th>Amount</th>
                <th> GST-%  </th>
                <th>Net-Price</th>
            </tr> -->
            
        </table>
    </div>
 

  <div id="divbtm1" class="btcontainer">
    <div id="bt1part1">
      <table id="bttable1" class="btTable">
        <tr><input type="text" id="cmnt" name="cmnt" class="billcomment" placeholder="bill comment"></tr>
        <tr><label id='prlo' class="textdpprlo" style="width:6%; text-align:center;">0.0</label></tr>

        <br><button class="grow_spin btnpad1" id="printconfirm" class="mbtmbt" style="display:none;"> PRINT </button>
        &nbsp;<button class="grow_spin btnpad1" id="printcancel" class="mbtmbt" style="display:none;"> CANCEL </button>

        <tr><label id='subtotstx' class="btmstaticsumdp">SubTotal: </label></tr>
        <tr><label id='tsubtot' class="btmtextsumdp">0.0</label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label id='addtaxstx' class="btmstaticsumdp">GST.Amt: </label></tr>
        <tr><label id='ttaxamt' class="btmtextsumdp">0.0</label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label id='disamtstx' class="btmstaticsumdp">Disc.Amt: </label></tr>
        <tr><label id='tdisamt' class="btmtextsumdp">0.0</label></tr>
      </table>
    </div>
  </div>
  
  <div id="divbtm2" class="btcontainer">
   
      <table id="bttable2" class="btTable">
        <tr><button type="button" id="save" class="btmbt" onclick="onSave()"  >Save</button></tr>
        <tr><button type="button" id="update" class="btmbt" disabled onclick="onUpdate()">Update</button></tr>
        <tr><button type="button" id="delete" class="btmbt" disabled onclick="onDelete()">Delete</button></tr>
        <tr><button type="button" id="close" class="btmbt" onclick="onClose()" >Close</button></tr>
        <tr><label style="width:4%; text-align:center;"></label></tr>
        <tr><label id='tamtstx' class="btmstaticsumdp">Amt.Total: </label></tr>
        <tr><label id='tamt' class="btmtextsumdp">0.0</label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label id='cgststx' class="btmstaticsumdp">CGST.Amt: </label></tr>
        <tr><label id='cgst' class="btmtextsumdp">0.0</label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label id='sgststx' class="btmstaticsumdp">SGST.Amt: </label></tr>
        <tr><label id='sgst' class="btmtextsumdp">0.0</label></tr>
      </table>
   
  </div>
  
  <div id="divbtm3" class="btcontainer">
    <div id="bt3part1">
      <table id="bttable3" class="btTable">
        <tr><button type="button" id="exportpdf" class="btmbt"  onclick="onPDF()">PDF Export</button></tr>
        <tr><button type="button" id="exportxls" class="btmbt"  onclick="onXLS()">Excel Export</button></tr>
        <tr><button type="button" id="reset" class="btmbt" onclick="onReset()">Reset</button></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label style="width:10%; text-align:left;">Sample1 widg </label></tr>
        <tr><label style="width:6%; text-align:left;"></label></tr>
        <tr><label id='roundoffstx' class="btmstaticsumdp">Round-Off: </label></tr>
        <tr><label id='roundoff' class="btmtextsumdp">0</label></tr>
        <tr><label style="width:6%; text-align:left;"></label></tr>
        <tr><input type="text" id="acname1" name="acname1" class="acname" style="width:15%;" placeholder="Account Name"></tr>
        <tr><input type="text" id="acval1" name="acval1" class="acname" style="width:6%;" placeholder="Value"></tr>
      </table>
    </div>
  </div>
  
  <div id="divbtm4" class="btcontainer">
    <div id="bt4part1">
      <table id="bttable4" class="btTable">
        <tr><label style="width:10%; text-align:left;">Sample2_1 widg </label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label style="width:10%; text-align:left;">Sample2_2 widg </label></tr>
        <tr><label style="width:30%; text-align:left;"></label></tr>
        <tr><label id='gtotstx' class="btmstaticsumdp" style="color:blue;font-size:105%;">Bill Total: </label></tr>
        <tr><label id='gtot' class="btmtextsumdp" style="font-size:125%;text-align:center;background-color:yellow;">0.0</label></tr>
      </table>
    </div>
   
  </div>

</body>
<script type="text/javascript">


var cshost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'partysearchenter' ;
var itemhost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'itemsearchenter' ; 
var cs = "supplier";
var spedit = false ; // will true when update bill ;
var dbcscr = {'CASH':'1','CREDIT':'2', 'CHALLAN':'3'}
var recdic={'pan':{},'grid':{},'ac':{},'static':{},'edit':false, 'other':{}}
var estidict = {'e':'E','E':'E','m':'M','M':'M','':'M','undefined':'M', ' ':'M'}
var idcount = -1;
var csdatalimit = 10; 
var itemdatalimit = 5; 
const posdict = POSDICT();
var info = ['axy','first info','b','second, info'];
//window.onbeforeunload = function(){return false;};
var fyear =  '<%= spinfo.fyear %>';
var owner = JSON.parse(jsonformater('<%= JSON.stringify(spinfo.owner) %>')); 
var rscr = {"owner":owner};

$(document).ready(function(){
    var today = rmstoday();
    
    document.getElementById("billdate").value = today;
    document.getElementById("invoicedate").value = today;
    tableColumnHeader();
    appendRow();
    cs = document.getElementById("sp").innerHTML.toLowerCase();
    document.getElementById("update").style.display = "none";
    document.getElementById("delete").style.display = "none";
    
    // getcolumn will return value accordingly ==> 
    // only one column name/add1/(or any one column only) or all [working for only two options];
    searchTypeAhead('#supsearch',cs,'GET', {wildcard: '%QUERY',url:cshost+"?name=%QUERY"
        +"&idf="+cs+"&getcolumn=name&limit="+csdatalimit }, csdatalimit)
    // Below searchTypeAhead is Not Required 
    //searchTypeAhead('#0_itemsearch','items','POST', {wildcard: '%QUERY',url:cshost+"?name=%QUERY"
    //    +"&idf=items&getcolumn=name&limit="+itemdatalimit }, itemdatalimit)
    
    $("#printcancel").click(function(){
          window.location.reload(); 
        });
    $("#printconfirm").click(function(){
          try{
            if (spedit){
                recdic['pan']['email']='abcd@efgh.com';
                recdic['pan']['tamt']=document.getElementById("tamt").innerHTML ;
                recdic['pan']['tdisamt']=document.getElementById("tdisamt").innerHTML ;
                recdic['pan']['ttaxamt']=document.getElementById("ttaxamt").innerHTML ;
                recdic['pan']['tsubtot']=document.getElementById("tsubtot").innerHTML ;
                recdic['pan']['roundoff']=document.getElementById("roundoff").innerHTML ;
                recdic['pan']['gtot']=document.getElementById("gtot").innerHTML ;
                recdic['pan']['rgtot']=document.getElementById("gtot").innerHTML ;
                }
            CreatePDF(rscr, recdic, ornt="landscape")
            window.location.reload();
          }
          catch(err){ CreateAlertDiv("Cannot Generate PDF ["+err.message+" ]"); }
          document.getElementById("statusinfo").innerHTML="PDF Exported !!";
        }); 
    });


function onSave(evt){
    let savebool = true;
    RecdicPanFill();

    
    /*matching keys that is used to insert into database*/

    recdic['pan']["csid"]=recdic['pan']["supid"];
    recdic['pan']["itype"]="1"; // Later will select programetically itype
    recdic['pan']["fyear"]=fyear;
    
    //console.log(recdic['pan']);
    savebool = validateDBEntry(savebool);
    //console.log(cs, recdic);
    if (savebool){
        if(typeof recdic['grid'][0]["qty"] == 'undefined'){
            document.getElementById("statusinfo").innerHTML=" No Items Selected !";
            document.getElementById("statusinfo2").innerHTML=" Cannot Save !";
            return false;
        }
        //console.log(recdic['grid']);
        //console.log(recdic['ac']);
        //console.log(recdic['grid']);
        
        DbSaveBill(recdic, cs, "save", "POST", "/sendbilltodb");
        showPrintConfirm(); // << This Should not be called here; should call after successfully insert data into database
        }
}

    
function onUpdate(evt){
    document.getElementById("statusinfo").innerHTML="UPDATE Button Pressed";}
function onDelete(evt){
    document.getElementById("statusinfo").innerHTML="DELETE Button Pressed";}
function onReset(evt){
    document.getElementById("statusinfo").innerHTML="RESET Button Pressed";
    document.getElementById("statusinfo").innerHTML=recdic['pan']['billno'];
    }
function onClose(){
    document.getElementById("statusinfo").innerHTML="close btn";}
    
function onPDF(evt){
    document.getElementById("statusinfo").innerHTML="PDF Export Button Pressed";}
function onXLS(evt){
    document.getElementById("statusinfo").innerHTML="Excell Export Button Pressed";}

function xdateFormat(inputDate) {  // inputDate = yyyy-mm-dd
    const [year, month, day] = inputDate.split('-');
    return day + '/' + month + '/' + year;}

function onEsti(evt){RecdicPanFill()};

//searchTypeAhead('#supsearch','suppliers','GET', cshost+"?key=%QUERY", 4)

</script>
<!-- rmsinputvalidate.js is wrapper function this will work after page loaded completely   -->
<script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<script  type="text/javascript" src="public/assets/js/rmsinputvalidate.js"></script>
</html>
