<!DOCTYPE html>

<html lang="en">

<style type="text/css">
   
</style>


<%- include('../partials/theader'); %>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title><%= spinfo.title  %></title>

<link rel="stylesheet" href="public/assets/css/mystyles.css"> 
<!--<style type="text/css" src="public/assets/css/mystyles.css"></style>-->
</head>
<body>
  <h4 style="color:blue"; > &nbsp; <%= spinfo.htmlheaderdp %></h4>
  
    <div class="card">
      
      <div class="card-body">
        <div >
          <p id="rpurchase">Select Finencial Year</p>
          <div>
           <select style="padding: 10px; background:#edf2ff; border-color:darkblue; font-size:18px; " 
           name="fyear" id="fy" onchange="getfyear(this)">
           <option value="null">Select Finencial Year</option>;
            <% for(var i=0; i<spinfo.owner.cal.length; i++) {%>
               <option value="<%= i %>">From [<%= spinfo.owner.cal[i].frm %>] To
                [<%= spinfo.owner.cal[i].tod %>]</option>
            <% } %> 
           </select>
          </div>
        </div>
        <div id="table" class="table-editable">
          
          <label id="statusinfo"></label>
          <form method="POST" action="/rmsnav">
          <table >
            <thead>
              <tr>
                <hr style="width:100%;text-align:left;margin-left:0">
                <th class="text-center">
                <button  id="purchase" class="btn btn-primary" name="name" value="purchase">Purchase</button> 
                </th>
                <th class="text-center">
                <button  id="sales" class="btn btn-primary" name="name" value="sales">Sales</button> 
                </th>
                <th class="text-center">
                <button  id="spurchase" class="btn btn-primary" name="name" value="spurchase">Search Purchase</button> 
                </th>
                <th class="text-center">
                <button  id="ssales" class="btn btn-primary" name="name" value="ssales">Search Sales</button> 
                </th>
              </tr>
              </thead>
            </table>
            <table>
              <thead>
              <tr>
                <hr style="width:100%;text-align:left;margin-left:0">
                <th class="text-center">
                <button  id="additem" class="btn btn-primary" name="name" value="additem">Add Item</button> 
                </th>
                <th class="text-center">
                <button  id="addsupplier" class="btn btn-primary" name="name" value="addsupplier">Add Supplier</button> 
                </th>
                <th class="text-center">
                <button  id="addcustomer" class="btn btn-primary" name="name" value="addcustomer">Add Customer</button> 
                </th>
              </tr>  
            </thead>
          </table>
          </form>
        </div>
      </div>
    </div>

</body>

<script type="text/javascript">

var fyeararray = '<%= JSON.stringify(spinfo.owner.cal) %>'; 
var caldata = null;
var cshost =  '<%= spinfo.uqpath %>';  
var rscr = {}; //'<%= spinfo %>'; 
//** dbfname variable is useing static/uploadcssjs/rmsupload.js script **//
var dbfname = '<%= spinfo.uqpath.dbfname %>'; 
var raw_dtrow = '<%= JSON.stringify(spinfo.daterow) %>';  
var dtrow = null ;

$(document).ready(function(){
  caldata = JSON.parse(jsonformater(fyeararray));
  
    dtrow = JSON.parse(jsonformater(raw_dtrow)) ;
    
    //if (rscr['daterow']==null){
    if (dtrow==null){
      
        buttonState(true);   
    }else{
        rscr['daterow'] = dtrow;
        document.getElementById('fy')[0].outerText='';
        //var partid = dtrow.partid-1;
        //$('#fy').append("<option selected='selected' value='"+partid+"'>From [" + dtrow.frm + "] To [" + /dtrow.tod + "]</option");
        buttonState(false);
        
        }
});

function onButton(evt, idf){
  let htp = document.URL;
  let chkpath = htp.split('/')[3];
  htp = htp.split(chkpath)[0]
  //var pageinfo = response.data;
  document.getElementById("statusinfo").innerHTML = idf; 
  if (idf==='purchase'){
      
    console.log(htp + 'pmain');
    location.replace(htp + 'vws/rmspages/login');
  };
  if (idf==='sales'){location.replace(htp + 'smain');}
  if (idf==='spurchase'){location.replace(htp + 'spsearch:spurchase');}
  if (idf==='ssales'){location.replace(htp + 'spsearch:ssales');}
}

function buttonState(state){
    if (state===true){
        statusInfo ('Please select Financial Year !', 'red','bold',wdgid='#statusinfo')}
    else{statusInfo ('', 'red','bold',wdgid='#statusinfo')}
    var pur = document.getElementById('purchase');
    pur.disabled = state;
    var sale = document.getElementById('sales');
    sale.disabled = state;
    var addc = document.getElementById('spurchase');
    addc.disabled = state;
    var adds = document.getElementById('ssales');
    adds.disabled = state;
    var additem = document.getElementById('additem');
    additem.disabled = state;
    var addsup = document.getElementById('addsupplier');
    addsup.disabled = state;
    var addcust = document.getElementById('addcustomer');
    addcust.disabled = state;
   
    // var spsp = document.getElementById('spspitem');
    // spsp.disabled = state;
    // var spss = document.getElementById('spssitem');
    // spss.disabled = state;
    // var cusledger = document.getElementById('cusledger');
    // cusledger.disabled = state;
    // var supledger = document.getElementById('supledger');
    // supledger.disabled = state;
    // var cashledger = document.getElementById('cashledger');
    // cashledger.disabled = state;
    // var othledger = document.getElementById('othledger');
    // othledger.disabled = state;
    // var compstock = document.getElementById('compstock');
    // compstock.disabled = state;
    // var compstockagg = document.getElementById('compstockagg');
    // compstockagg.disabled = state;
    // var gstsummary = document.getElementById('gstsummary');
    // gstsummary.disabled = state;

  }

  function getfyear(selectObject) {
      var value = selectObject.value;  
      var daterow = caldata[value];
      var daterange = [daterow['frm'], daterow['tod']];
      var partnum = daterow['partnum'];
      var partname = daterow['partname'];
      var fyear = partname.split('y')[1];

        //console.log(rscr);
        $.ajax({ type:"POST",url:"/selectfyear",
          data: {action:'action',type:'fyear',
          daterow:daterow, daterange:daterange, partnum:partnum, partname:partname, fyear:fyear, rscr:rscr,},    
          success:function(data) { 
             rscr = JSON.parse(data);
             buttonState(false);
             }
       });
     
    }
</script>

</html>
