
<!DOCTYPE html>

<html lang="en">
<%- include('../partials/theader'); %>
<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title><%= spinfo.title  %></title>
<script  type="text/javascript" src="public/assets/js/minajax.js"></script>
<script  type="text/javascript" src="public/assets/js/typeahead.min.js"></script>
<script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<script  type="text/javascript" src="public/assets/js/rmsinputvalidate.js"></script>
<script  type="text/javascript" src="public/assets/js/saveprint.js"></script>
<script  type="text/javascript" src="public/assets/js/jsPDF.js"></script>
<link rel="stylesheet" href="public/assets/css/mystyles.css"> 


<body>
  <label hidden="hidden" id='sp'><%= spinfo.cs %> </label>  
 
      <div >
        <label id="billdatestx" class="rmslabel1"> Bill Date:</label>
        <input type="date" id="billdate" name="billdate" class="textinput" 
                placeholder="dd/mm/yy" min="2020-01-01" value="<%= prows.billdate %>" >

        <label id="invdatestx" class="rmslabel1">Inv Date</label>
    
        <input type="date" id="invdate" name="invdate" class="textinput" 
                placeholder="dd/mm/yy" min="2020-01-01" value="<%= prows.invdate %>">

        <label id="searchstxt" ><%= spinfo.cs %> Name: </label>
        <input type="text" name="supsearch" id="supsearch" value="<%= prows.name %>"
               class="typeahead tt-query" placeholder='Party Name' autofocus="autofocus" autocomplete="off">
        <div>

        <table  id="plist" class="partylist"></table>
        </div>
      </div>
      <div class="rmsdiv">

        <label id="blink" class="blink_me"></label>
        <label id='add1' class="rmslbblue" ></label>
        <label id='add2' class="rmslbblue"></label>
        <label id='mobile' class="rmslbblue"> </label>
        <label id='regn' class="rmslbblue"> </label>
        <label id='gstn' class="rmslbblue"> </label>
        <label id='bal' class="rmslbblue"> </label>
  	  </div>
    <div id="alerts"></div> 

    <div style="z-index: 1;">
      <label id="cscrstx" class="rmslabel1">Cash/Credit</label>
      <select id="cscr" name="cscr">
        <option value="CASH">CASH</option>
        <option value="CREDIT">CREDIT</option>
        <option value="CHALLAN">CHALLAN</option>
      </select>
      
      <label id="estistxt" class="rmslabel1">Esti</label>
      <input type="text" id="esti" name="esti" class="estivalidate" placeholder="E" maxlength="1">
    
      <label id="status"></label>
      <label id="billnostx" class="rmslabel1">Inv.No:</label>
      <input type="text" name="billno" id='billno' class="rmsinput100" value="<%= prows.billno %>" >
      <label id="ddiscstx" class="rmslabel1">D.xDisc:</label>
      <input type="text" name="ddisc" id='ddisc' class="rmsgriddiscount" maxlength="5" value="0" >
      <br>
      <label id="statusinfo" class="rmslabel1" ></label>
      <label id="statusinfo2" class="rmslabel1"></label>
    </div>
    
    <form class="form-inline">
    <div id="xitembox" class="scroll">
        <table id="itembox" >
            <script type="text/javascript" charset="utf-8">
                tableColumnHeader(); 
                let speditdata = SPEDIT_appendRow('<%= JSON.stringify(prows) %>', '<%= JSON.stringify(itemrows) %>');
                //let speditdata = SPEDIT_appendRow('<%-JSON.stringify(prows) %>', '<%-JSON.stringify(itemrows) %>');
                 let prows=speditdata['prows'];
                 let itemrows=speditdata['itemrows'];
            </script>
            
        </table>
        <table  id="itemlist" class="dptable"></table>

    </div>
    </form>
    
    <div id="divbtm1" style="display: inline-block; width: 80%">
        <label id='gtotstx' class="btmtextsumdp" style=" color:blue;font-size:105%;">Bill Total: </label>
        <label id='gtot' class="btmtextsumdp" style="width:auto; font-size:125%;text-align:center;background-color:yellow;"></label>
        <label style="width:7%;"></label>
        <label id='subtotstx' class="btmstaticsumdp">SubTotal: </label>
        <label id='tsubtot' class="btmtextsumdp" ></label>
        <label style="width:3%; text-align:center;"></label>
        <label id='addtaxstx' class="btmstaticsumdp">GST.Amt: </label>
        <label id='ttaxamt' class="btmtextsumdp" ></label>
        <label style="width:3%; text-align:center;"></label>
        <label id='disamtstx' class="btmstaticsumdp">Disc.Amt: </label>
        <label id='tdisamt' class="btmtextsumdp" ></label>
    </div>

  
  
    <div id="divbtm2" style="display: inline-block; width: 80%">
        <input type="text" id="cmnt" name="cmnt" class="billcomment" placeholder="bill comment">
        <label id='prlo' class="textdpprlo" style="width:7%; text-align:center;">0.0</label>
        
        <br><button class="grow_spin btnpad1" id="printconfirm" class="mbtmbt" style="display:none;"> PRINT </button>
        &nbsp;<button class="grow_spin btnpad1" id="printcancel" class="mbtmbt" style="display:none;"> CANCEL </button>

        <label id='cgststx' class="btmstaticsumdp">CGST:</label>
        <label id='cgst' class="btmtextsumdp" ></label>
        <label style="width:2%; text-align:center;"></label>
        <label id='sgststx' class="btmstaticsumdp">SGST:</label>
        <label id='sgst' class="btmtextsumdp" ></label>
        <label style="width:2%;"></label>
        <label id='tamtstx' class="btmstaticsumdp">Amt.Total: </label>
        <label id='tamt' class="btmtextsumdp" ></label>
  </div>
  
    <div id="divbtm3" style="display: inline-block; width: 80%">
        <button type="button" id="save" class="btn wipe" onclick="onSave()"  >Save</button>
        <button type="button" id="update" class="btn" disabled onclick="onUpdate()">Update</button>
        <button type="button" id="delete" class="btn" disabled onclick="onDelete()">Delete</button>
        <button type="button" id="close" class="btn" onclick="onClose()" >Close</button>
        <button type="button" id="reset" class="btn wipe" onclick="onReset()">Reset</button>
        <label style="width:2%; text-align:center;"></label>
        <label id='roundoffstx' class="btmstaticsumdp" >Round-Off: </label>
        <label id='roundoff' class="btmtextsumdp" ></label>
        <label style="width:2%; text-align:center;"></label>
        <input type="text" id="acname1" name="acname1" class="acname"  placeholder="Account Name">
        <input type="text" id="acval1" name="acval1" class="rmsgridfloatval" placeholder="Value">
    </div>
  
    <div id="bt4part1" class="rmsdiv">
        <button type="button" id="exportpdf" class="btn"  onclick="onPDF()">PDF Export</button>
        <button type="button" id="exportxls" class="btn"  onclick="onXLS()">Excel Export</button>
        <label style="width:30%; padding-right: 20px;"></label>
        <label style="width:40%; text-align:left;">Sample2_2 widg: </label>
        <label style="padding-right: 30px;"></label>
    </div>


</body>
</html>

<script type="text/javascript" charset="utf-8">
  
  var clicked;
  var kyi = -1;
  var rowlen ;
  var dbcscr = {'CASH':'1','CREDIT':'2', 'CHALLAN':'3'}
  var rvcscr = {'1':'CASH','2':'CREDIT', '3':'CHALLAN'}
  //var recdic={'pan':{},'grid':{},'ac':{},'static':{},'edit':false, 'other':{}}
  var estidict = {'e':'E','E':'E','m':'M','M':'M','':'M','undefined':'M', ' ':'M'}
  var idcount = -1;
  var csdatalimit = 10; 
  const posdict = POSDICT();
  var partyrows; 
  //var itemrows ;
  var itemdatalimit = 5; 

  var cs =  '<%= spinfo.cs %>'; 
  var sp = cs;
  var cssearch = '<%= spinfo.cssearch %>';
  
   var spinfo = '<%- JSON.stringify(spinfo) %>' ;
   var itemdata = '<%- JSON.stringify(itemrows) %>' ;
  var pdata = '<%= JSON.stringify(prows) %>' ;
 var acdata = '<%-JSON.stringify(acrows) %>' ;
 var recdic={'pan':pdata,'grid':itemdata,'ac':acdata,'static':{},'edit':false, 'other':{}}
  var cshost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'partysearchenter' ;
  var itemhost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'itemsearchenter' ; 
  var info = ['axy','first info','b','second, info'];
  var owner = JSON.parse(jsonformater('<%= JSON.stringify(spinfo.owner) %>')); 
  var rscr = {"owner":owner};
$(document).ready(function(){

   idcount += itemdata.length;
  var cs = document.getElementById("sp").innerHTML.toLowerCase();
  searchTypeAhead('#supsearch',cs,'GET', {wildcard: '%QUERY',url:cshost+"?key=%QUERY"+"&info=%"+info+"&limit="+csdatalimit }, csdatalimit)

  //console.log(prows);
  document.getElementById("add1").innerHTML=prows["add1"];
  document.getElementById("add2").innerHTML=prows["add2"];
  document.getElementById("regn").innerHTML=prows["regn"];
  document.getElementById("gstn").innerHTML=prows["gstn"];
  document.getElementById("add1").innerHTML=prows["add1"];
  document.getElementById("mobile").innerHTML=prows["mobile"];
  document.getElementById("bal").innerHTML="0.00";
  document.getElementById("blink").innerHTML="*** EDIT ON ***";

  var billgamt = parseFloat(prows["gamt"]).toFixed(2);
  var roundgamt = parseFloat(prows["gamt"]).toFixed(0);
  var roundoffval = billgamt - roundgamt;

  document.getElementById("gtot").innerHTML="Rs " + roundgamt.toString() + "/-";
  document.getElementById("roundoff").innerHTML=roundoffval.toFixed(2).toString();

  document.getElementById("tsubtot").innerHTML=prows["amt"];
  document.getElementById("tamt").innerHTML=prows["tamt"];
  document.getElementById("ttaxamt").innerHTML=prows["ttaxamt"];
  document.getElementById("tdisamt").innerHTML=prows["tdisamt"];
  document.getElementById("cgst").innerHTML=prows["cgst"];
  document.getElementById("sgst").innerHTML=prows["sgst"];
  // //  onItemSearch('#'+idcount+'_itemsearch');
  
  $("#printcancel").click(function(){
      window.location.reload(); 
    });
  
  $("#printconfirm").click(function(){
      //try{
        var recdicpan = JSON.parse(jsonformater(recdic["pan"]));
        var recdicgrid = JSON.parse(jsonformater(recdic["grid"]));
        
        recdic['pan']=recdicpan;
        recdic['pan']['email']='abcd@efgh.com';
        recdic['pan']['tamt']=document.getElementById("tamt").innerHTML ;
        recdic['pan']['tdisamt']=document.getElementById("tdisamt").innerHTML ;
        recdic['pan']['ttaxamt']=document.getElementById("ttaxamt").innerHTML ;
        recdic['pan']['tsubtot']=document.getElementById("tsubtot").innerHTML ;
        recdic['pan']['roundoff']=document.getElementById("roundoff").innerHTML ;
        recdic['pan']['gtot']=recdicpan["gamt"] ;
        recdic['pan']['rgtot']=document.getElementById("gtot").innerHTML ;
        recdic['pan']['cscr']=rvcscr[recdic['pan']['cscr']] ;
        recdic['grid']=recdicgrid;
        
        CreatePDF(rscr, recdic, ornt="landscape")
        window.location.reload();
      //}
      //catch(err){CreateAlertDiv("Cannot Generate PDF ["+err.message+" ]"); }
      document.getElementById("statusinfo").innerHTML="PDF Exported !!";
    });

  });


function onSave(evt){
    let savebool = true;
    console.log(recdic['pan']);
    RecdicPanFill();
    if (recdic['pan'].name==undefined){CreateAlertDiv("Party Name Not Selected "+
        "OR Page Reloaded... Select Party Again !!"); savebool=false}
    if (recdic['pan']['billno']===""){CreateAlertDiv("Wait.. !! Invoice Number Not Given !! "); savebool=false}
    if (savebool){document.getElementById("statusinfo").innerHTML="READY FOR SAVE";}
    else{document.getElementById("statusinfo").innerHTML="NOooo CAN NOT SAVE";} 
    }
    
function onUpdate(evt){
    document.getElementById("status").innerHTML="UPDATE Button Pressed";}
function onDelete(evt){
    document.getElementById("status").innerHTML="DELETE Button Pressed";}
function onReset(evt){
    document.getElementById("status").innerHTML="recdic reset";
    CreateAlertDiv("Wait.. !! Invoice Number Not Given !! ");
    }
function onClose(){
    document.getElementById("status").innerHTML=sp;}
    
function onPDF(evt){
    showPrintConfirm()
    //document.getElementById("status").innerHTML="PDF Export Button Pressed";
    }
function onXLS(evt){
    document.getElementById("status").innerHTML="Excell Export Button Pressed";}

</script>

<script  type="text/javascript" src="public/assets/js/typeahead.min.js"></script>
<script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<script  type="text/javascript" src="public/assets/js/rmsinputvalidate.js"></script>
