<!DOCTYPE html>

<html lang="en">
<%- include('../partials/theader'); %>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title><%= spinfo.title  %></title>
<script  type="text/javascript" src="public/assets/js/minajax.js"></script>
<script  type="text/javascript" src="public/assets/js/typeahead.min.js"></script>
<script  type="text/javascript" src="public/assets/js/saveprint.js"></script>
<link rel="stylesheet" href="public/assets/css/mystyles.css"> 
<!--<style type="text/css" src="public/assets/css/mystyles.css"></style>-->
</head>
<body class="container">
  <h3 id='header' ><%= spinfo.title  %> </h3>
  
  <div >

    <div id="div1" class="rmsdiv1">
      <form method="post" action="/">
      <label id="frmstx" class="rmslabel1">From Date :</label>
      <input type="date" id="frm" name="frm" class="textinput" 
              placeholder="dd/mm/yy" min="2017-01-01" value="2022-01-01">
                
      <label id="todstx" class="rmslabel1">To Date :</label>
      <input type="date" id="tod" name="tod" class="textinput" 
                placeholder="dd/mm/yy" min="2017-01-01" value="2022-01-01">

      <label id="billasstx" class="rmslabel1">Select Invoice Type:</label>
      <select id="billas" name="billas" class="custom-select" style="width:200px;" ><option value="('I','M','E')"> BOTH </option>
                <option value="('I')">Inter-State Only</option>
                <option value="('M')">Intra-State Only</option>
                <option value="('E')">Challan</option>
      </select>
      </form>
    </div>
    <div id="div2">
      <label id="cssearch" class="rmslabel1"><%= spinfo.cssearch  %></label>
      
      <label id="sp" class="rmslabel1"> <%= spinfo.cs %></label>
      <input type="text" id="partysearch" name="typeahead" class="typeahead tt-query" autocomplete="off"
             placeholder="<%= spinfo.cs  %> Name" >

      <label id="itypestx" class="rmslabel1">Select Invoice Type:</label>
      <select id="itype" name="itype" class="custom-select" style="width:200px;" ><option value="('1','2')"> BOTH </option>
                <option value="('2')">Registered-Party</option>
                <option value="('1')">Un-Registered-Party</option>
      </select>
    </div>
    
    <div id="table" class="table-editable">
      <label id="statusinfo"></label>
      <label id="statusinfo2"></label>
    </div>
    
    <div id="xitembox" class="scroll2">
      <table id="itembox", class="dptable" onkeypress="keyrowselect()">
        <thead>
            <tr>
            <th>Inv. Date</th>
            <th>Inv. Number</th>
            <th>Inv. Type</th>
            <th>Party Name</th>
            <th>Amount</th>
            </tr>
         </thead>
      </table>  
    </div>  

  <div id="alerts"></div>    
  <div id="gifboard" ><img src="" id="rungif" /></div>'
  <div id="divbtm2" class="btcontainer">
    <button type="button" id="show" class="btmbt" onclick="onShow()" >&nbsp; SHOW &nbsp;</button>
    <button type="button" id="open" class="btmbt" onclick="onopen()" >&nbsp; OPEN &nbsp;</button>
    <button type="button" id="close" class="btmbt" onclick="closebtn()" >&nbsp; CLOSE &nbsp;</button>
  </div>  

  </div>
      
</body>

<script type="text/javascript">
  //var selectedrowdata = {};
  //var partyrowdata = {};
  var csdatalimit = 10;
  var srd = {'spid':0,'transid':0,'csid':0,'ledgid':0,'billno':0,'gamt':0,
            'dt':'2020-01-01','invdt':'2020-01-01','name':''}; // selected row  data // selected row  data
  //var partyrowdata = {};
  var partyname = '';
  var csdatalimit = 10;
  var kyi = -1;
  var rowlen ;
  var dbcscr = {'CASH':'1','CREDIT':'2', 'CHALLAN':'3'}
  var cscr = {'1':'CASH','2':'CREDIT','3':'CHALLAN','':'N.A'}
  var recdic={'pan':{},'grid':{},'ac':{},'static':{},'edit':false, 'other':{}}
  var estidict = {'e':'E','E':'E','m':'M','M':'M','':'M','undefined':'M', ' ':'M'}
  var idcount = -1;
  var csdatalimit = 10; 
  const posdict = POSDICT();
  var partyrows; 
  var itemrows ;
  var tamount = 0;
  var pready = false;
  var cshost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'partysearchenter' ;
  var sp = document.getElementById("sp").innerHTML;
  //var cs = document.getElementById("cssearch").innerHTML;
  var cs =  '<%= spinfo.cs %>'; 
  var sp = cs;
  var cssearch = '<%= spinfo.cssearch %>';
  

function ShowData(){
   
    var name = cssearch; //document.getElementById("sp").innerHTML;
    var htp = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'sppartysearch';
    //var htp = document.URL.split('spsearch')[0] + 'sppartysearch'
    var searchtxt = document.getElementById("partysearch").value ;
    var frm = document.getElementById("frm").value ;
    var tod = document.getElementById("tod").value ;
    var itype = document.getElementById("itype").value ;
    var billas = document.getElementById("billas").value ;
    partyname = searchtxt;
    
    $("#itembox").find("tr:not(:first)").remove();
    $.ajax({
        url: htp,
        type: 'POST',
        data: {name:cssearch,searchtxt:searchtxt, idf:cs, keyc:0, frm:frm, tod:tod,itype:itype,billas:billas},
        dataType: 'json',
        success: function(result) {
          
          if(typeof result[0] == 'undefined'){
            itemrows = {};
             }else{
              itemrows = result;
             }
            $('.tt-dropdown-menu').css('display', 'none');
            AppendTable(itemrows); 
            stopGIF(); 
          }

        });
    }

  $(document).ready(function(){
    var name = document.getElementById("sp").innerHTML;
    var htp = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'sppartysearch';
    var today = rmstoday();
    document.getElementById("frm").value = today;
    document.getElementById("tod").value = today;

    var geturl = cshost+"?name=%QUERY&idf="+cs+"&getcolumn=name&limit="+csdatalimit; 

    //var geturl = htp+"?key=%QUERY"+"&info="+name+"&limit="+csdatalimit;
    
    
    $('.typeahead').typeahead({
        name:name, method:'GET', 
        remote:
            {wildcard: '%QUERY',url:geturl }, 
        limit:csdatalimit,});   
    });

  $('.typeahead').on('typeahead:selected', function(evt, item, name) {
    // item has value ; item.value

       ShowData();
    });
  
  function AppendTable(rows){
    $('#statusinfo').html('Total Invoice Count : '+rows.length);
    for(i=0;i<rows.length;i++){
      var rowd = rows[i];
    document.getElementById("itembox").insertRow(-1).innerHTML = '<tr tabindex="'+i+'">'+
    '<td id=1_'+i+' name="1" class="tablerows" onclick="rowselect('+i+') ">'+rowd.billdate+'</td>'+
    '<td id=2_'+i+' name="2" class="tablerows" onclick="rowselect('+i+') ">'+rowd.billno+'</td>'+
    '<td id=3_'+i+' name="3" class="tablerows" onclick="rowselect('+i+') ">'+cscr[rowd.cscr]+'</td>'+
    '<td id=4_'+i+' name="4" class="tablerows" onclick="rowselect('+i+') ">'+rowd.name+'</td>'+
    '<td id=5_'+i+' name="5" class="tablerows" onclick="rowselect('+i+') ">Rs.'+rowd.amount+'</td>'+
    
    '</tr>';
    }

  }

  function keyrowselect(){
    //console.log(evt)
    console.log('tblrow')
    //var keyc = evt.which || evt.keyCode;
    console.log('keyc')
    }
  function rowselect(tblrow){
    
    playGIF('public/assets/img/wrun.gif');
    
    var spid = itemrows[tblrow].spid;
    var transid = itemrows[tblrow].transid;
    var dt = itemrows[tblrow].billdate;
    var billno = itemrows[tblrow].billno;
    var table = document.getElementById('itembox'); 
    table.classList.remove('dptable');
    var ttr = table.getElementsByTagName("tr");
    srd = itemrows[tblrow];
    //console.log(srd);
      for (let i = 0; i < ttr.length; i++) {
          if (i % 2 === 0){ttr[i].style.backgroundColor = "powderblue";}
          else{ttr[i].style.backgroundColor = "#2BC1FF52";}
          //ttr[i].className = "dptable";
          //ttr[i].style.color = "black";   
        } 
     table.classList.add('dptable');
     ttr[tblrow+1].style.background = 'yellow';
     
     $.ajax({
        url: '/speditcalculate',
        type: 'GET',
        contentType: 'application/json;charset=UTF-8',
        data: {name:cs,jsdata:'', idf:'spedit', keyc:0, spid:srd.spid, ledgid:srd.ledgid, text:partyname,
               csid:srd.csid, transid:srd.transid, dt:srd.dt, invdt:srd.dt, billno:srd.billno, 
               gamt:srd.amount, fyear:srd.fyear,},
        dataType: 'json',
        success: function(result) {  
            
          if(result['itemrows'].length >0){
            document.getElementById("statusinfo").innerHTML = "Total Items Found : " +result['itemrows'].length;
          }      
          pready = true;
          //console.log(result.itemrows[0].itemname)
          //console.log(result);
          var openbtn = document.getElementById("open")
          openbtn.style.background = "yellow";
          openbtn.style.color = "blue";
          openbtn.style.fontWeight= "bold";
          openbtn.style.fontSize = "large";
          
          $('html,body').animate({scrollTop: $("#divbtm2").offset().top},'slow');
          stopGIF();


          }
        });
    
    
    }
  function onShow(){
    playGIF('public/assets/img/wrun.gif');
    ShowData();
      //var searchtxt = document.getElementById("partysearch").value ;
      // if (searchtxt == ""){CreateAlertDiv("Wait.. !! Party Name Not Selected !! ")}
      // else{ShowData();}
    
    }
  function onopen(){
    var baseurl = window.location.origin;
    var rdpage = baseurl+'/spedit'; //window.location.host;

    //let htp = document.URL;
    //let chkpath = htp.split('/')[3];
    //htp = htp.split(chkpath)[0]
    //console.log(htp + 'spedit')
    //console.log(rdpage)
    if (pready==true){window.location.href = rdpage;}
    pready==false;
    //CreateAlertDiv("Wait.. !! Invoice Number Not Given !! ")
    }
 function closebtn(){
      CreateAlertDiv("Wait.. !! Click Back on Navigation to Close !! ")
    }
 


  

</script>

</html>
