<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/theader'); %>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User-Info</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        }

        body {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 12px;
        line-height: 30px;
        color: #777;
       
        font-family:sans-serif;
        background-image: -moz-linear-gradient(30deg, rgba(66,181,213,0.5) 0%, rgba(58,210,11,0.5) 100%);
        background: -webkit-gradient(linear, left bottom, right top, color-stop(20%,rgba(147,131,63,1)), color-stop(100%, rgba(29,220,216,0.5)));
        background: -webkit-linear-gradient(30deg, rgba(66,181,213,0.5) 0%,rgba(58,210,11,0.5) 100%);
        background: -o-linear-gradient(30deg, rgba(66,181,213,0.5) 0%,rgba(58,210,11,0.5) 100%);
        background: -ms-linear-gradient(30deg, rgba(66,181,213,0.5) 0%,rgba(58,210,11,0.5) 100%);
        background: linear-gradient(30deg, rgba(66,181,213,0.5) 0%,rgba(58,210,11,0.5) 100%);
        }

        .container {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        }

        #contact input[type="text"],
        #contact input[type="email"],
        #contact input[type="tel"],
        #contact input[type="url"],
        #contact textarea,
        #contact button[type="submit"] {
        font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
        }
        #pagetype {
          font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
          font-size: 14px;
          font-weight: 300;
        }

        #contact {
        background: #F9F9F9;
        padding: 25px;
        margin: 150px 0;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        #contact h3 {
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
        }

        #contact h4 {
        margin: 5px 0 15px;
        display: block;
        font-size: 13px;
        font-weight: 400;
        }

        fieldset {
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
        }

        #contact input[type="text"],
        #contact input[type="email"],
        #contact input[type="tel"],
        #contact input[type="url"],
        #contact input[type="number"]
        #contact textarea {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        }

        #contact input[type="text"]:hover,
        #contact input[type="email"]:hover,
        #contact input[type="tel"]:hover,
        #contact input[type="url"]:hover,
        #contact textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #aaa;
        }

        #contact textarea {
        height: 100px;
        max-width: 100%;
        resize: none;
        }

        #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #4CAF50;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
        }

        #contact button[type="submit"]:hover {
        background: #43A047;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
        }

        #contact button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        }

        .copyright {
        text-align: center;
        }

        #contact input:focus,
        #contact textarea:focus {
        outline: 0;
        border: 1px solid #aaa;
        }

        ::-webkit-input-placeholder {
        color: #888;
        }

        :-moz-placeholder {
        color: #888;
        }

        ::-moz-placeholder {
        color: #888;
        }

        :-ms-input-placeholder {
        color: #888;
        }
    </style>
</head>
<body>
  
    <div class="container">  
        <form id="contact" action="/adduserinfo" method="POST">
          <h3>User-Info <%= spinfo.update  %> </h3>
          <h4>Update your daily Information</h4>
          <fieldset>
            <input placeholder="Your name" type="text" name="name" value ="<%= spinfo.name  %>"  tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Your Primary Address " name="add1" value= "<%= spinfo.add1  %>"  type="text" tabindex="2" >
          </fieldset>
          <fieldset>
            <input placeholder="Your Secondary Address" name="add2" value= "<%= spinfo.add2  %>"  type="text" tabindex="3" >
          </fieldset>
          <fieldset>
            <input placeholder="Your Tertiary Address" name="add3" value= "<%= spinfo.add3  %>"  type="text" tabindex="4" >
          </fieldset>
         
          <fieldset>
            <input placeholder="Office-Phone" type="number" name="phone1" value= "<%= spinfo.phone  %>"  tabindex="4" required>
            <input placeholder="Alternate-Phone" type="number" name="phone2" value= "<%= spinfo.phone1  %>"  tabindex="4" >
          </fieldset>

          <fieldset>
            <input placeholder="Email " type="email" name="email" value= "<%= spinfo.email  %>"  tabindex="5" >
          </fieldset>

          <fieldset>
            <input placeholder="Registration Number " name="regn" value= "<%= spinfo.regn  %>"  type="text" tabindex="5" >
          </fieldset>

          <fieldset>
            <input placeholder="GST No." name="gstn"  type="text" value= "<%= spinfo.gstn  %>"  tabindex="5" >
          </fieldset>

          <fieldset>
            <select name="Bill Page Type"  id="pagetype" required>
              <option selected disabled >Select Bill Page Type</option>
              <option value="1">A4</option>
              <option value="2">A6</option>
              <option value="3">A5</option>
            </select>
          </fieldset>


          
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Save</button>
          </fieldset>
        </form>
      </div>
    
</body>
</html>